<div> После
Великой Отечественной войны возрождение туристской отрасли хозяйства в стране
шло достаточно медленными темпами. 24 апреля 1945 г. вышло постановление Секретариата ВЦСПС «О восстановлении деятельности
туристско-экскурсионного управления ВЦСПС», но результаты работы возрожденного
ТЭУ ощущались слабо. Тому мешали серьезные причины, среди которых основными
являлись следующие: бедственное положение преобладающего населения страны;
дефицит свободного времени, связанный с тем, что у людей была первоочередная
задача - благоустройство своего быта; сложное продовольственное положение в
большинстве районов страны; крайне низкая потребность граждан в туристском
отдыхе и др.</div>

<div> Только к
середине 50-х гг., т.е. через 10 лет после окончания войны туризм достигает
предвоенных объемов деятельности, о чем можно судить по числу отдохнувших на туристских
базах. Так, в 1938 г. туристские базы профсоюзов приняли около 200 тыс.
туристов. В 1956 г. туристскими профсоюзными турбазами было обслужено 179 тыс.
туристов (Абуков, 1978; Дворниченко, 1985).</div>

<div> С этого
времени, середины 50-х гг., можно говорить о наступивших кардинальных
переменах в туризме. И в 1960 г. на туристских базах отдохнуло уже 627 тыс.
чел. </div>

<div> Вместе с
происходящим ростом всех показателей отечественного туризма, возрастал интерес
науки к нему. Серьезным толчком к развитию научных исследований туризма
явилось введение его в качестве учебной дисциплины в ряде высших учебных
заведений. В середине 50-х гг. Министерство просвещения СССР ввело в учебный
план факультетов физического воспитания педагогических институтов в качестве
обязательного предмета для всех студентов дисциплину «Туризм», в начале 60-х
гг. на педагогических отделениях институтов физической культуры также была
введена дисциплина «Туризм», в 1968 г. на географических факультетах
университетов учредили специализацию «Краеведение, методика и организация
туристско-экскурсионного дела». Тем самым, было сформировано значительное число
преподавателей, в обязанности которых входило ведение научно-исследовательской
работы в области туризма.</div>

<div> Стало все
больше появляться научных работ по педагогическим аспектам туризма,
психологическим, экономическим, градостроительным, но основная роль в
координации научных исследований в области рекреации и туризма, выработки
концепции развития туризма в стране принадлежала географам.</div>
