<div>
  8 марта 1930 г. согласно Постановлению Совета Народных Комиссаров СССР о слиянии
  Общества пролетарского туризма РСФСР и акционерного общества «Советский
  туризм» в стране появилось Всесоюзное добровольное общество пролетарского
  туризма и экскурсий, в задачу которого входило развитие массового самодеятельного
  туризма в СССР, а также планового - с использованием стационарных
  туристских баз.
</div>

<div> Перед
  новым Обществом, среди всех прочих, стояла задача сделать отдых в походах
  эффективным, поставить его на научную основу, о чем неоднократно писалось в
  туристской прессе. Особое внимание обращалось на нагрузки в туристском походе,
  так как только, будучи оптимальными, они приводят к тренированности организма,
  повышению его работоспособности после отдыха. Но какими должны быть нагрузки
  никто не знал, так как эта проблема до 1930 г. в туризме никем не поднималась. Необходимо было изучить физиологические
  основы туристских
  походов.
</div>

<div> За ее
  решение взялся Центральный совет ОПТЭ совместно с созданным в середине 20-х гг.
  в Москве Государственным центральным институтом курортологии. Уже в конце
  30-го года было созвано Первое совещание по вопросам научного обоснования отдыха
  и туризма в стране. В нем приняли участие все заинтересованные ведомства -
  Общество пролетарского туризма и экскурсий, Народный Комиссариат
  здравоохранения, Всесоюзный совет по физической культуре, Общество содействия
  обороне, авиационному и химическому строительству (ОСОВИАХИМ) и др. Одним из
  основных вопросов, который рассматривался на совещании, был вопрос
  эффективности отдыха и, в частности, туристского отдыха. На нем еще раз было
  подтверждено, что физиологические основы отдыха и туризма в стране до сих пор
  никто не изучал. В решениях совещания указывалось следующее: «проблему рабочего
  отдыха и туризма разработать так, чтобы каждое мероприятие давало реальный,
  здоровый отдых, чтобы оно реально давало трудовую зарядку, поднимало
  производительность труда, давало дополнительные источники человеческой энергии»
  (Наука на помощь туризму, 1931).
</div>

<div> Для
  Центрального совета ОПТЭ важным было выяснить нормы нагрузок в походах как
  плановых, так и самодеятельных, определить противопоказания для участия в
  походах людям различной физической подготовленности, разного возраста. С
  решения этих вопросов и началось формирование самостоятельного научного
  направления - физиология туризма, которое является составной частью физиологии
  физической культуры и спорта.
</div>

<div> Для решения названных
  проблем в институте курортологии сразу же после совещания в начале 1931 г. был создан сектор рабочего отдыха и
  туризма, и в его структуре образован кабинет туризма. Он
  и начал проведение научно-исследовательских работ по изучению медико-санитарных
  вопросов туризма. Уже в этот год кабинет туризма выдал первые научные
  рекомендации по проведению походов.
</div>

<div> Все
  маршруты, организуемые Обществом пролетарского туризма и экскурсий, были
  разбиты на три категории по степени трудности, в зависимости от их протяженности,
  наличия естественных препятствий, абсолютных высот местности, на которых
  проходили маршруты, т.е. необходимо было изучить природные условия территорий
  их организации. Кроме того, для участников туристских походов разрабатывались
  определенные нормы нагрузок, учитывающие их возраст и состояние здоровья.
  Впервые в России туризм с активными способами передвижения ставился на научную
  основу.
</div>

<div> Научные
  исследования на маршрутах были продолжены летом 1932 г. Сотрудники кабинета туризма детально изучали наиболее
  популярные пешеходные маршруты на
  Северном Кавказе, проходившие по Военно-Грузинской и Военно-Осетинским дорогам,
  в районе Красной Поляны, на Среднем Урале - водный маршрут на гребных лодках по
  реке Чусовой. Исследовались рациональность проложенных маршрутов, места,
  выбранные под туристские базы и приюты, экстремальные природные явления, с
  которыми могли встретиться туристы в пути, режим всего путешествия, нормы
  движения для разных групп туристов.
</div>

<div> Проводилось
  медицинское обследование участников походов. С помощью наблюдений за основными
  их физиологическими показателями в начале и конце похода выявлялось влияние
  физических нагрузок на организм, и позже проводилась корректировка режима
  движения, т.е. физических нагрузок.
</div>

<div> Вследствие
  того, что молодежь особый интерес проявляла к горным путешествиям, кабинет
  туризма организовал специальные исследования на Эльбрусе на только что
  построенном «Приюте 11-ти», находящемся на высоте 4200 м. Здесь изучалась оздоровительная эффективность горных
  путешествий, о чем было накоплено к тому
  времени еще крайне мало сведений, и те были получены преимущественно от
  горовосходителей.
</div>

<div> Важной
  составной частью работ института курортологии стали исследования детского
  туризма. Была организована группа врачей, которая проводила работы по
  определению физических нагрузок в пешеходных путешествиях, наиболее массовых в
  детском туризме .
</div>

<div> За два года
  Государственной центральный институт курортологии разработал научно
  обоснованные рекомендации для врачей, работающих на туристских базах, по
  методике медицинских обследований туристов, отправлявшихся в поход. Таким
  образом, была проделана большая работа по определению норм нагрузок и
  рациональному построению режима путешествий в разных природных условиях. Позже
  исследования проводились для медицинского обоснования новых туристских
  маршрутов, открываемых ОПТЭ.
</div>



<div> Работы по изучению физиологических основ туризма с меньшим
  размахом, чем в начале 30-х гг., осуществлялись вплоть до 1936 г., до ликвидации Общества пролетарского туризма и
  экскурсий и передачи его функций Всесоюзному
  Центральному Совету Профессиональных Союзов и Всесоюзному совету физической
  культуры при ЦИК СССР, что нарушило как планомерное развитие туризма в стране,
  так и формирующуюся работу по научному медицинскому обоснованию его
  мероприятий. В полной мере эта работа начала восстанавливаться в 70-е гг., с
  организации специализированной всесоюзной научно-исследовательской лаборатории
  по вопросам туризма.
</div>


<%= link_to Article.find(25).title, Article.find(25) %>