<div>Значительное место занимают в трудах совещаний, научных сборниках и журналах публикации по экологическому туризму,
  на который во многих регионах возлагают надежды, как на вид туризма, способный стать одним из стабилизаторов
  устойчивого их развития.
</div>

<div>Экологический туризм объемное и достаточно размытое понятие. По этой причине он как и туризм имеет множество
  определений. Всемирная туристская организация (ЮНВТО) к экологическому туризму относит «все формы природного туризма,
  при которых основной мотивацией туристов является наблюдение и приобщение к природе». Международная организация
  экотуризма (TIES) определяет экологический туризм как «ответственное путешествие в природные зоны, области,
  сохраняющее окружающую среду и поддерживающее благосостояние местных жителей». Следует отметить, что это весьма
  размытые определения, позволяющие широко трактовать понятие «экологический туризм». Одно из наиболее конкретных
  определений сущности экотуризма дали ученые-географы Краснодарского государственного университета Г.С. Гужин, М.Ю.
  Беликов, Е.В. Клименко: «В основе экотуризма лежит забота об окружающей среде. На первый план выходит организация
  поездок с ограниченным числом участников в природные зоны с возможным посещением мест, представляющих культурный
  интерес, с целью реализации различных проектов охраны и рационального использования природных ресурсов».
</div>

<div>Экологический туризм подразделяется на два класса (Дроздов, 2005) :</div>

<div>1. Экотуризм в границах особо охраняемых природных территорий (акваторий) и в условиях «дикой», ненарушенной или
  малоизмененной природы. Это является классическим направлением в экотуризме.
</div>

<div>2. Экотуризм вне границ особо охраняемых природных территорий и акваторий, на пространстве окультуренного или
  культурного ландшафта. К турам данного класса можно отнести весьма широкий спектр видов природно-ориентированного
  туризма, начиная от сельского вплоть до круиза на комфортабельном лайнере.
</div>

<div> Таким образом, к экотуризму могут быть отнесены пешеходные, горные, водные и др. походы, экскурсии в природные
  заповедники, каньонинг, дайвинг и многие другие виды туризма. Но экологический туризм самостоятельным видом считать
  нельзя, так как в него включаются виды туризма, которых объединяют природоохранные технологии проведения путешествий.
  Понятие «экологический туризм» является более высоким стратиграфическим уровнем в туристской классификации. Поэтому
  можно принять предложение Г.П. Долженко не считать экологический туризм видом туризма, а объединить все виды туризма,
  относящиеся к экологическому туризму в следующую более высокую иерархическую единицу – блок экологического туризма.
</div>

<div> В России может развиваться туризм и первого, и второго классов, так как для этого имеются все возможности. Но в
  нашей стране экотуризм развит слабо, на что имеется ряд причин. Дроздов А.В. называет некоторые из них, не позволяющих
  превратить экотуризм в массовое явление.
</div>

<div> Первой причиной по его мнению является разообщенность участников эколого-туристской деятельности. Далее он
  называет проблемы, связанные с транспортными услугами, низким уровнем развития туристской инфраструктуры,
  информационный дефицит, а также недостаток специалистов в сфере экологического туризма.
</div>

<div>Бесспорно, все перечисленные причины имеют место, но с нашей точки зрения, основными причинами неразвитости
  экологического туризма в России являются недостаточная аттрактивность природы и особенность российского менталитета в
  отношении содержания отдыха. Россияне в большинстве своем (более 80 %), согласно исследованиям, предпочитают отдыхать
  на теплом море, ничего не делая. Экологический же туризм в том виде, в котором его позиционируют сегодня, требует
  активного участия направленного на решение экологических задач во время отпускного периода, что противоречит
  представлениям преобладающего большинства россиян об отдыхе.
</div>

<div> Экологическому туризму в России пытаются придать большое воспитательное значение, что было заложено в
  отечественном туризме еще в 30-е гг. в период становления пролетарского туризма в стране. В ту пору председатель
  Общества пролетарского туризма и экскурсий Н.В. Крыленко указывал: «Пролетарский туризм для нас прежде всего есть один
  из методов социалистического строительства». Его задачу он определял как «активное содействие социалистическому строительству всеми мерами и способами, которые предоставляет туризм». А под активным
  социалистическим строительством прежде всего понималась «политическая работа над самими экскурсантами, их
  соответствующая идеологическая обработка и политико-воспитательная работа. Если придать экологическому туризму какой
  бы то ни было нравственно-воспитательный оттенок, интерес к нему у большинства россиян не возникнет вообще.
</div>

<div> В России экологический туризм как движение внутреннего туризма развит слабо. В стране не сформирован на него
  потребительский спрос. Разнообразные его формы представлены в небольших объемах. Наиболее массовой из этих форм
  являются экскурсии природоведческого (экологического) содержания, совершаемые либо жителями крупных городов либо
  рекреантами, находящимися на курортах и в других местах отдыха. Самое большое число участников однодневных
  экологических (скорее всего их правильно назвать природоведческие) экскурсий отмечается в Сочинском национальном
  парке, где они развиваются уже не одно десятилетие и представляют собой главный экскурсионный потенциал курорта
  Большие Сочи.
</div>

<div> А.В. Дроздов приводит следующие сведения об объемах экологического туризма в России, которые он определяет по
  посещаемости национальных парков, расположенных вблизи крупных городов. Девять парков, расположенных вблизи крупных
  городов принимают за год около 1.5 млн чел. Все остальные парки, удаленные от крупных городов, за год посещают от 80
  до 100 тыс. чел. «Именно эти цифры свидетельствуют о приблизительной величине потока туристов, более или менее
  приверженных к экотуризму».
</div>

<div> Однако приведенные сведения свидетельствуют только о числе туристов, посетивших национальные парки. Еще же
  экотуризм развивается вне границ особо охраняемых природных территорий. Здесь для организаторов экотуризма большой
  простор, и во всех субъектах Федерации, где созданы программы развития туризма, не обойден вниманием экологический
  туризм.
</div>

<div> Но развивая экологический туризм, необходимо учитывать негативные последствия, имеющие место в районах его
  активного присутствия, на что особенно указывает международный опыт. Вырубаемые ради отелей джунгли на островах,
  уничтожаемые туристами коралловые рифы, бесчисленные сомнительные сафари, авиаперелеты, во время которых загрязняется
  атмосфера Земли и др. негативные последствия – это шлейф, который тянется за экологическим туризмом. Анализ
  статистических данных свидетельствует, что в развитых странах число экотуристов растет в три раза быстрее, чем
  индустрия туризма в целом, и выбирая экологическую тропу, они могут самым что ни на есть негативным образом повлиять
  на природную среду (Клейман, Лебедева. 2008).
</div>

<div> Туризм не может быть безвреден для окружающей среды, особенно в регионах с легко ранимой природой, к каким
  относятся все тундровые районы России, как раз те в которых предполагается развивать экологические формы туризма.
  Необходимо тщательно просчитывать последствия развития экологического туризма, который имеет достаточно определенные
  емкости в разных природных комплексах. Он должен тщательно управляться.
</div>

<div class="questions">
  <div>Контрольные вопросы к модулю «Экологический туризм в России»</div>

  <div>1. Что обозначает понятие экологический туризм? Почему его выделяют в самостоятельный вид?</div>

  <div>2. Почему экологический туризм развит слабо в России?</div>

  <div>3. Имеются ли негативные последствия от экологического туризма?</div>
</div>