<div> Классифицирование
  явлений, событий, предметов и др. является одним из эффективных способов более
  глубокого их изучения. Многие авторы занимались разработкой классификаций
  туризма и экскурсий, и сегодня известно не малое их число. Туристские
  путешествия классифицировали по различным показателям:
</div>

<ul>
  <li>по
    целям путешествий;
  </li>

  <li>по
    способам передвижения;
  </li>

  <li>по
    средствам размещения туристов;
  </li>

  <li>по
    срокам и продолжительности путешествий;
  </li>

  <li>по
    возрасту участников;
  </li>

  <li>по
    числу участников в группе и т.д.
  </li>
</ul>

<div>Подобная
  дифференциация туризма дает возможность проанализировать каждую из образующих
  его граней.
</div>

<div>Одной
  из последних среди опубликованных классификаций, построенных по данному
  принципу, является классификация туризма А.Ю. Александровой (2002).
</div>

<h6> Классификация туризма (Александрова, 2002)</h6>

<ul id="aleksandrova-class">
  <li>По виду используемых природных ресурсов
    <ul>
      <li>Купально-пляжный</li>

      <li>Лечебный</li>

      <li>Экологический</li>

      <li>Горный</li>

      <li>Водный</li>
    </ul>
  </li>


  <li>По источникам
    финансирования
    <ul>
      <li>Коммерческий</li>

      <li>Социальный</li>
    </ul>
  </li>

  <li>По возрастному
    составу участников путешествия
    <ul>
      <li>Туризм
        пожилых людей
      </li>

      <li>Туризм
        лиц среднего возраста
      </li>

      <li>Молодежный
        туризм
      </li>
    </ul>
  </li>

  <li>По числу
    участников путешествия
    <ul>
      <li>Индивидуальный</li>

      <li>Групповой</li>
    </ul>
  </li>

  <li>По способу
    организации путешествия
    <ul>
      <li>Организованный</li>

      <li>Неорганизованный</li>
    </ul>
  </li>

  <li>По способу
    размещения туристов
    <ul>
      <li>Гостиничного
        типа
      </li>

      <li>Негостиничного
        типа
      </li>
    </ul>
  </li>

  <li>По видам
    используемых транспортных средств
    <ul>
      <li>Автобусный</li>

      <li>Авиационный</li>

      <li>Водный</li>

      <li>Автомобильный</li>

      <li>Железнодорожный</li>

      <li>С использованием
        прочих видов средств перевозки
      </li>

      <li>(собачьи
        упряжки и т.д.)
      </li>
    </ul>
  </li>

  <li>По дальности
    поездки
    <ul>
      <li>Ближний</li>

      <li>Дальний</li>
    </ul>
  </li>

  <li>По
    продолжительности путешествия
    <ul>
      <li>Краткосрочный</li>

      <li>Среднесрочный</li>

      <li>Долгосрочный</li>
    </ul>
  </li>

  <li>По ритмичности
    туристских потоков
    <ul>
      <li>Сезонный</li>

      <li>Круглогодичный</li>
    </ul>
  </li>

</ul>

<div>Анализ
  классификации и сравнение ее с предыдущими, представленными другими авторами, позволяют
  отметить, что к началу XXI в. произошла значительная диверсификация
  туризма в нашей стране за послевоенное время. Возросло число видов туризма,
  устойчивое место в классификации занял экологический, религиозный,
  экстремальный, военный и др. его виды. В ней нашел отражение коммерческий
  характер современного туризма, являющийся основным отличительным его признаком
  от туризма советского периода страны.
</div>

<div>Иной
  подход к построению классификации туризма наблюдается у Г.П. Долженко,
  опубликовавшего в 2008 г. еще одну версию классификации российского туризма
  (рис. 1).
</div>


<h6>
  Рис. 1. Классификация российского туризма (Долженко, 2008)
</h6>

<%= article_image_tag("class.png", :class => :illustration, :alt => "Рис. 1. Классификация российского туризма (Долженко, 2008)") %>

<div>* подвиды делового туризма:
  классические деловые поездки, МИСЕ
</div>

<div>** подвиды
  спортивно-оздоровительного туризма: пешеходный, горный, водный на гребных
  судах, водный парусный, лыжный, велосипедный, спелеотуризм, конный,
  авто-мототуризм
</div>

<div>*** подвиды
  горнолыжного туризма: горные лыжи, сноубординг
</div>

<div>**** подвиды
  экстремального туризма: каньонинг, горный велосипед, каякинг и др.
</div>

<div>***** подвиды
  военного туризма: полеты на самолетах, боевые стрельбы, танковые туры и др.
</div>

<div> Прежде всего
  им были определены три уровня классификационных признаков:
</div>

<div> 1 –
  отношение турпотоков к Государственной границе и границам субъектов Российской
  Федерации;
</div>

<div> 2 –
  сущностные (мотивационные) признаки;
</div>

<div> 3 –
  формальные признаки.
</div>

<div> Кроме того,
  в новой классификации выделены типы, подтипы, виды, подвиды и блоки видов
  туризма, включающие в себя ряд видов, относящихся к определенной форме
  деятельности. Ими являются два блока - экологического и событийного туризма.
</div>

<div> Блок
  экологического туризма включает все формы природно-ориентированного туризма,
  при которых основной мотивацией туристов является наблюдение и приобщение к
  природе: пешеходный, водный, велосипедный, конный, спелеотуризм, сельский
  («зеленый»), дайвинг и др. Технологии их проведения должны соответствовать
  принципам экотуризма.
</div>

<div> В нашей
  стране экологический туризм развит слабо, несмотря на то, что природные условия
  для него безграничны. В России пока еще не сформировался потребительский спрос
  на туры экотуризма.
</div>

<div> Блок
  событийного туризма включает в себя туры, связанные с разнообразными значимыми
  общественными событиями, а также с редкими природными явлениями, привлекающими
  своей уникальностью, экзотичностью, неповторимостью большие массы туристов. Он
  включат в себя мероприятия культурного, спортивного, этнографического,
  фольклорного, выставочного видов туризма. Г.П. Долженко считает, что к
  мероприятиям событийного туризма следует относить только те, которые приносят
  какой-либо доход региону .
</div>

<div> Событийный
  туризм в России пока не является бюджетообразующим ни для одного из регионов
  страны. Из крупных мероприятий можно назвать лишь два: Широкую масленицу в
  Москве и Авиакосмический салон МАКС.
</div>

<%= render "additional_material",
           :title => "Х. Монтанер Монтехано «Классы туристической деятельности»".html_safe,
           :path => Article.find(21) %>


<div>По настоящему крупное
  мероприятие событийного туризма состоится в России в Сочи в 2014 г. – зимняя олимпиада. Подобное событие спортивного
  характера является действенным инструментом
  формирования позитивного образа страны в мире, косвенно увеличивая въездной
  туристский поток. Как считают эксперты ЮНВТО, после проведения XXV летних олимпийских игр в Барселоне в 1992 г.
  количество туристов, прибывающих в Испанию со всего мира, в последующие годы возросло более
  чем на 30 %.
</div>

<div>В
  классификациях зафиксирована вся история качественных изменений происходящих в
  туризме, характеризующих определенный этап его развития в России. И каждая
  новая классификация, в которой отражены эти изменения, является самым верным
  для данного временного отрезка детальным разъяснением дефиниции «туризм».
</div>

<div class="questions">
  <div>
    Контрольные
    вопросы к модулю «Классифицирование туризма»
  </div>

  <div>
    1. В чем научное
    значение классифицирования туризма?
  </div>

  <div>
    2. По каким
    показателям проводится классификация туристских
    путешествий?
  </div>

  <div>
    3. Дать анализ трем уровням классификационных признаков, предложенных Г.П.
    Долженко.
  </div>

  <div>4. Охарактеризовать блоки экологического и событийного туризма в классификации Г.П. Долженко.</div>

  <div>5. Назовите классы туристской деятельности по Х. Монтанер Монтехано.</div>
</div>
