<div>При исследовании туристской деятельности специалисты пользуются разнообразными методами, заимствуя их у других
  наук. У гидрогеологов - методы изучения подземных вод, у климатологов - инструментальные наблюдения, картографов -
  ГИС, социологов - методы анкетирования и т.д.. Особенно широко во все уровни туристской индустрии проникли
  социологические методы. Многие туристские фирмы разрабатывают анкеты для выяснения рекреационных потребностей своих
  клиентов. Выставочные фирмы проводят интервьюирование участников и посетителей выставок. Высшие учебные заведения в
  качестве учебного задания и в плане студенческих научно-исследовательских работ изучают с использованием
  социологических методов рекреационные потребности в своих регионах.
</div>

<div> Одно из первых обширных исследований туристских потребностей граждан нашей страны было проведено во второй
  половине 1970-х гг. сектором социологии ЦНИИЭП лечебно-курортных зданий совместно с Институтом общественного мнения
  газеты «Комсомольская правда». Опрос проводился в 28 городах и 16 селах на всей территории Советского Союза (Мироненко, Твердохлебов, 1981).</div>

<div> Исследования показали, что жители страны предпочитают отдыхать в лесной местности - 34,5 %, у моря - 28,1%, на
  реках-озерах - 29,5%, в горах - 5,5 %. Отмечено полное отсутствие интереса к степным территориям, только 0.1 %
  опрошенных в качестве места отдыха назвали степные ландшафты.
</div>

<div> Было установлено, что наибольшее влияние на выбор ландшафта отдыха оказывает возраст. Так, с возрастом
  увеличивается тяготение городского населения к лесу. Интерес к горам проявляется, в основном, у молодежи возраста 16 –
  24 лет. Курорты выбирают пенсионеры.
</div>

<div> Опрос опроверг устоявшееся мнение о предпочтении морского отдыха всем другим, оказалось, что отдых в лесном районе
  у реки популярнее, чем у моря. Но в то же самое время была отмечена тенденция для всего городского населения страны,
  выражающаяся в росте стремления к отдыху на Черноморском побережье Кавказа, а также в Крыму.
</div>

<div> Следующий широкомасштабный опрос для выяснения характера потребностей населения страны в туристском отдыхе провела
  в первой половине 1980-х гг. Всесоюзная научно-исследовательская лаборатория туризма и экскурсий. Подтверждены были
  общие выводы, сделанные в предыдущем исследовании, и отмечены достаточно значительные региональные различия в выборе
  гражданами рекреационных условий и районов отдыха.
</div>

<div> Эти два исследования дали толчок многочисленным опросам, проведенным в регионах, которые отличались, и иногда
  значительно, от предыдущих всесоюзных. Так, например, последние исследования, организованные Южным федеральным
  университетом в Ростовской области в 2005 - 2007 гг. показали региональные тенденции при организации своего отдыха
  гражданами.
</div>

<div> Наиболее предпочтительным местом проведения отдыха для ростовчан является морское побережье. 4/5 взрослого
  населения Нижнего Дона выбирают для отдыха именно его. Близость к горам Кавказа и исторически сложившиеся связи с
  туристскими центрами в горах определили выбор 1/5 населения горных рекреационных районов (табл. 2).
</div>

<div class="table">
  <h6>Таблица 2 Предпочтения мест отдыха жителями Ростовской области</h6>

  <table>
    <tr>
      <td>
        Места отдыха
      </td>
      <td>
        %
      </td>
    </tr>
    <tr>
      <td>
        У моря
      </td>
      <td>
        83
      </td>
    </tr>
    <tr>
      <td>
        В горах зимой
      </td>
      <td>
        23
      </td>
    </tr>
    <tr>
      <td>
        В горах летом
      </td>
      <td>
        20
      </td>
    </tr>
    <tr>
      <td>
        У реки
      </td>
      <td>
        19
      </td>
    </tr>
    <tr>
      <td>
        В лесном регионе летом
      </td>
      <td>
        16
      </td>
    </tr>
    <tr>
      <td>
        В лесном регионе зимой
      </td>
      <td>
        6
      </td>
    </tr>
    <tr>
      <td>
        В круизе
      </td>
      <td>
        12
      </td>
    </tr>
    <tr>
      <td>
        В городе
      </td>
      <td>
        16
      </td>
    </tr>
  </table>
</div>

<div> В настоящее время предпочтение отдыху на Черноморском побережье Кавказа отмечено практически во всех регионах
  страны, даже в сибирских и дальневосточных.
</div>

<div> В современных исследованиях внимание уделяется и отдыху за рубежом, чего не наблюдалось в работах конца 70-х -
  начала 80-х гг. Больше половины среди опрошенных жителей Ростовской области при возможности предпочли бы зарубежные
  туристские дестинации (табл. 3)
</div>

<div class="table">
  <h6> Таблица 3 Предпочтения туристских дестинаций, %</h6>
  <table>
    <tr>
      <td>
        Дестинация
      </td>
      <td>
        Поездки, %
      </td>
    </tr>
    <tr>
      <td>
        Россия
      </td>
      <td>
        43,5
      </td>
    </tr>
    <tr>
      <td>
        Турция
      </td>
      <td>
        26,3
      </td>
    </tr>
    <tr>
      <td>
        Италия
      </td>
      <td>
        10
      </td>
    </tr>
    <tr>
      <td>
        Испания
      </td>
      <td>
        5,7
      </td>
    </tr>
    <tr>
      <td>
        Хорватия
      </td>
      <td>
        5
      </td>
    </tr>
    <tr>
      <td>
        Франция
      </td>
      <td>
        5
      </td>
    </tr>
    <tr>
      <td>
        Чехия
      </td>
      <td>
        4,6
      </td>
    </tr>
    <tr>
      <td>
        Болгария
      </td>
      <td>
        4,6
      </td>
    </tr>
    <tr>
      <td>
        Египет
      </td>
      <td>
        4,2
      </td>
    </tr>
    <tr>
      <td>
        Скандинавские страны
      </td>
      <td>
        2,7
      </td>
    </tr>
    <tr>
      <td>
        Германия
      </td>
      <td>
        2,7
      </td>
    </tr>
    <tr>
      <td>
        Абхазия
      </td>
      <td>
        2,3
      </td>
    </tr>
    <tr>
      <td>
        Страны Балтии
      </td>
      <td>
        1,5
      </td>
    </tr>
    <tr>
      <td>
        Украина
      </td>
      <td>
        1,5
      </td>
    </tr>
    <tr>
      <td>
        Китай
      </td>
      <td>
        1,5
      </td>
    </tr>
    <tr>
      <td>
        Другие страны
      </td>
      <td>
        17,1
      </td>
    </tr>
  </table>
</div>

<div> Для того, чтобы представить будущее туризма в донском регионе, Южным федеральным университетом был организован
  опрос школьников Ростовской области. Они еще в большей степени, чем взрослые, ориентированы на туристские поездки за
  границу. 80 % среди интервьюируемых ответили: «Если будут возможности, отдыхать буду за границей».
</div>

<div> Среди туристских дестинаций как взрослые, так и дети выбирают преимущественно пляжные.</div>

<div> Анализируя мотивации туристских путешествий, следует отметить резко преобладающую надо всеми остальными мотивацию
  «Просто отдыхать, ни о чем не думая, расслабляться». Среди мужчин ее назвали первой 73 % опрошенных, среди женщин - 58
  % .
</div>

<div> Опрос, технология которого заимствована у социологической науки, дает хорошие результаты, которые используются как
  для тактического, так и стратегического планирования развития туризма в регионе и в работе туристских фирм.
</div>

<div class="questions">
  <div>Контрольные вопросы к модулю «Методы социологических исследований туризма»</div>

  <div>1. Каковы были результаты исследований туристских потребностей граждан СССР в 70-е гг.?</div>

  <div>2. Имеются ли какие-либо особенности в выборе мест и характера отдыха у жителей Ростовской области?</div>

  <div>3. Где и как предпочитают отдыхать школьники Ростовской области?</div>
</div>