<div> На вопрос «Что такое туризм?» не возможно получить ответ, полностью
  характеризующий это явление. В многочисленных словарях находим, в основном,
  один и тот же стереотипный ответ, вроде того, что «туризм – это путешествия,
  совершаемые для отдыха и с познавательными целями, иногда с элементами спорта».
  Верно ли это? Следует признать, что лишь частично.
</div>

<div> Туризм сегодня – сложное,
  многофункциональное явление, которое неодинаково трактуется различными
  специалистами в области туризма и просто гражданами, увлекающимися
  путешествиями в свободное время. Одни туризм связывают преимущественно с
  активными походами пешком, на лыжах, лодках или велосипедах, другие с отдыхом в
  комфортабельных гостиничных комплексах на берегу теплого моря или в горах, для
  третьих туризм – это бизнес, связанный с предоставлением различных услуг
  туристам и получением соответствующей прибыли от этой деятельности.
</div>

<div>По
  причине своей многогранности туризм с трудом поддается какому-то единственному
  определению. Для того чтобы понять, что же такое туризм и как это понятие
  эволюционировало в России обратимся в первую очередь к авторитетным
  энциклопедическим изданиям.
</div>

<div> 1947 г. «Большая советская энциклопедия». Первое издание.</div>

<div class="quote"> «Туризм, один из
  способов организации и проведения досуга в путешествиях. Разрешая ряд общих
  задач коммунистического воспитания трудящихся и используя как средство
  различные виды передвижения (пешком, на лыжах, водой и др.) советский туризм
  втягивает массы трудящихся в овладение физической культурой. Ставя своей
  задачей поднятие политического и культурного уровня и расширение кругозора
  трудящихся, советский туризм знакомит их как с природными богатствами
  Советского Союза, так и историческим прошлым народов, населяющих Советскую
  страну, прививая трудящимся чувство советского патриотизма. Наряду с
  воспитательной ролью, советский туризм имеет огромное оздоровительное значение.
  В пешеходных, лыжных, горных и водных походах советские туристы получают
  физическую тренировку и закаляют организм…Совместное преодоление туристами
  трудностей и невзгод путешествий, подчас проходящих в тяжелых природных и
  метеорологических условиях, прививает такие навыки, как умение ориентироваться,
  приготовить пищу на костре, оборудовать привал и ночлег, оказать неотложную
  медицинскую помощь в несчастных случаях, культурно организовать досуг на
  привале, установить связь с местным населением и т.д. Таким образом, расширяя
  политический и культурный кругозор советских туристов, готовя будущих
  закаленных и выносливых бойцов, владеющих навыками походного быта, советский
  туризм имеет огромное военно-воспитательное значение».
</div>

<div> Знакомство с
  извлечением из первой энциклопедической статьи в Советском Союзе о туризме
  позволяет отметить то, что туризм в советское время в стране был до
  крайней степени идеологизирован и рассматривался прежде всего в качестве одного
  из средств формирования человека новой социалистической формации. Этой цели
  была подчинена вся деятельность государственных, профсоюзных и общественных
  туристских организаций, занимавшихся развитием туризма в стране.
</div>

<div> Под туризмом
  понимались преимущественно туристские походы, связанные с палаточным бытом. Это
  можно рассматривать как способ формирования «выносливых бойцов», но и как
  недорогой вид отдыха, адекватный материальному положению и невысоким бытовым
  претензиям преобладающего числа населения страны.
</div>

<div> В СССР в
  конце 40-х гг. в массовом сознании отсутствовало такое понятие как
  международный туризм, что легко объяснимо. Поэтому в статье о туризме в Большой
  советской энциклопедии о нем вообще не упоминается.
</div>

<div> Туризм был
  слабо диверсифицирован. Отсутствовали такие понятия как лечебный туризм (никто
  бы и не подумал отнести к туристам пенсионера, отправившегося поправлять свое
  здоровье в санаторий), деловой, экологический, экстремальный туризм и т.п.
</div>

<div> Определение
  понятия «туризм» в следующем втором издании Большой советской энциклопедии (том
  со словом «туризм» увидел свет в 1956 г.) уже значительно отличалось от
  предыдущего, отражавшего целую эпоху развития туризма в стране: 30-е – начало
  50-х гг.
</div>

<div> 1956 г. «Большая советская энциклопедия». Второе издание.</div>

<div class="quote"> «Туризм –
  один из видов активного отдыха, представляющий собой путешествия, совершаемые с
  целью познания тех или иных районов, новых стран и сочетаемые в ряде случаев с
  элементами спорта. В СССР туризм является не только средством познания родной
  земли и других стран, но и составной частью физической культуры – одного из
  средств коммунистического воспитания масс».
</div>

<div> За десятилетие, прошедшее между первым и вторым изданиями томов БСЭ, в
  которых помещены статьи о туризме, можно отметить существенные изменения в
  понимании содержания этого термина. Прежде всего хорошо заметно, что
  практически ушла тотальная идеологизация деятельности в области туризма в
  стране. Она сохранилась в основном в экскурсионной работе, главной целью
  которой была пропаганда достижений советского государства в хозяйственном
  строительстве, науке, культуре.
</div>

<div> Знакомясь с
  новым определением туризма, становится ясным: в стране начинает развиваться
  международный туризм. Но по-прежнему доминирующей составной частью туризма
  оставались походы с активными средствами передвижения по территории своей
  стране.
</div>

<div> Новая более
  лаконичная трактовка понятия «туризм» была дана в «Энциклопедии туриста» в 1993 г.
</div>

<div> 1993 г. Энциклопедия туриста.</div>

<div class="quote"> «Туризм
  – путешествие (поездка, поход) в свободное время (отпуск, каникулы и т.п.); вид
  активного отдыха, средство оздоровления, познания, духовного и социального
  развития личности».
</div>

<div> В данной трактовке туризма
  полностью отсутствуют мотивы его идеологизации. Он рассматривается как
  своеобразная форма путешествия в свободное время с разнообразными видами
  занятий.
</div>

<div> Но исходя из данного определения
  в его сферу еще не попадали в начале 90-е гг. такие виды как деловой туризм
  (осуществляемый вне свободного времени), учебный, не представляющий собой
  форму активного отдыха, и др. Ничего в определении не говорится и о месте
  туризма в хозяйственном комплексе страны, хотя туризм в начале 90-х гг. уже являлся
  во многих регионах России его существенной составляющей.
</div>

<div> В настоящее время специалисты
  пользуются определением туризма, предложенным Федеральным законом Российской
  Федерации «Об основах туристской деятельности в Российской Федерации» 1996 г. и уточненным в изменениях, внесенных в
  Федеральный закон в 2007 г.
</div>

<div> 1996 г., 2007 г.</div>

<div class="quote"> «Туризм – временные
  выезды (путешествия) граждан Российской Федерации, иностранных граждан и лиц
  без гражданства с постоянного места жительства в лечебно-оздоровительных,
  рекреационных, познавательных, физкультурно-спортивных,
  профессионально-деловых, религиозных и иных целях без занятия деятельностью, связанной
  с получением дохода от источников в стране (месте) временного пребывания».
</div>

<div> Данная формулировка крайне широко трактует понятие «туризм» и
  соответствует определению туризма, принятому в международной практике. Но
  вопрос о дефиниции «туризм» не был снят с научной и практической повесток дня с
  появлением в России первого закона о туристской деятельности. В отечественных
  научных и популярных литературных источниках о туризме можно встретить
  множество его определений. От простых односложных, типа: «Туризм –
  разновидность рекреации, один из видов активного отдыха» (Крачило, 1980) до
  определений, пытающихся обобщить всю сложность этого культурного,
  социально-экономического, спортивного, воспитательного феномена. В качестве
  примера приведем некоторые из них.
</div>

<div> «Туризм – это отрасль экономики,
  предприятия которой удовлетворяют потребности клиентов (туристов) в
  материальных и нематериальных услугах. Туризм – это особое направление
  социально-экономической деятельности, которое занимает важное место в
  общественной жизни страны» (Воронцова, Карпова, Ушакова, 2005).
</div>

<div> А.Д. Каурова придерживается
  позиции, что «под сферой туризма понимается сложный межотраслевой комплекс»
  (2005).
</div>

<div> Аналогичное определение туризма
  дает на страницах учебного пособия «Основы международного туризма» Е.В.
  Вавилова (2005): «международный туризм представляет сложную и комплексную сферу
  мировой экономики».
</div>

<div> В проекте Федерального закона «О
  туризме и туристской индустрии в Российской Федерации», внесенном на
  обсуждении в Государственную Думу в 2003 г., было записано, что
</div>

<div class="quote">«Туризм
  – составная часть социальной сферы Российской Федерации, включающая свободные
  передвижения (путешествия, поездки) физических лиц и/или их пребывание за
  пределами обычной среды в течение периода, не превышающего 12 месяцев подряд, с
  целью отдыха, деловыми и другими целями».
</div>

<div> Под индустрией туризма, согласно предложенному
  Проекту, следовало понимать, «отрасль экономики Российской Федерации, которая
  обеспечивает функционирование туризма как социальной сферы и включает в себя
  комплекс экономических отношений, возникающих в процессе осуществления
  субъектами туристской индустрии предпринимательской и иной экономической
  деятельности».
</div>

<div> Представленный в Думу
  законопроект исходил из того, что туризм и туристская индустрия представляет
  собой <i>не отдельную отрасль экономики, а сложнейший межотраслевой
  комплекс</i>.
</div>


<%= render "additional_material",
           :title => "Сущностное определение туризма".html_safe,
           :path => Article.find(19) %>

<div> Приведенные
  отдельные примеры, пытающиеся охарактеризовать туризм в России на современном
  этапе, дают возможность убедиться, что это крайне многогранное явление,
  представляющее собой деятельность граждан как в свободное время (туристские
  путешествия), а также включенную и в сферу трудового процесса (деловой туризм).
  Туризм сегодня рассматривается одними специалистами как самостоятельный вид
  хозяйственной деятельности, другими как отрасль хозяйства, третьими как
  межотраслевой комплекс. По причине исключительной сложности характера туризма
  современная теория пока еще не смогла предложить единственное его определение,
  которое удовлетворяло бы как всех ученых, так и практических работников.
</div>

<div class="questions">
  <div>
    Контрольные вопросы к модулю «Множественность понятий туризма»
  </div>

  <div>
  1. Где и когда
  возникли условия для появления слов «турист» и «туризм»?
  </div>

  <div>
  2. Полностью ли
  отражает фраза «Туризм – это путешествия» современное понимание туризма?
  </div>

  <div>
  3. Почему существует значительное количество дефиниций туризма?
  </div>

  <div>
  4. Назовите отрасли  хозяйства и научные направления, с которыми связан туризм.
  </div>

  <div>
  5. Почему слово «туризм» появилось в русском лексиконе на
  два столетия позже, чем в Англии?
  </div>

  <div>
  6. Что рекомендовал Ф. Бекон посещать и наблюдать во время
  путешествия в другую страну?
  </div>
</div>
