<div>История туризма в России всегда находилась в поле зрения исследователей. На страницах периодической туристской
  печати, в сборниках материалов различных конференций публиковались статьи по многим локальным вопросам, связанным с
  туристско-исторической тематикой. В 80 – 90-е гг. выходит ряд обобщающих работ по истории отдельных сторон российского
  туризма. Среди них следует указать на следующие: Дьякова Р. А. «История экскурсионного дела в СССР», Дворниченко В.В.
  «Развитие туризма в СССР (1917 – 1983 гг.), В.Ф. Кудинов «Из истории развития туризма», О. Фоменко «Уверенная поступь
  «Спутника»: Международному молодежному туризму – 30 лет»,
</div>

<div>Г.П. Долженко «История туризма в дореволюционной России и СССР». Последняя работа стала наиболее полным
  исследованием российского туризма за период с 1777 г. до середины 80-х гг. XX в. Она была удостоена первой премии
  Всесоюзного конкурса на лучшую книгу о туризме в 1989 г. по разделу справочная, методическая, научно-популярная и
  краеведческая литература.
</div>

<div> Г.П. Долженко ввел в научный оборот множество неизвестных, либо малоизвестных фактов, для каждой эпохи нашел
  присущую ей закономерность. Представляя первые путеводители по Санкт-Петербургу, Москве, он убедительно доказывает,
  что они являлись не просто сбором краеведческих сведений, а предназначались, в первую очередь, для любопытствующей
  путешествующей российской публики, уже появляющейся в XVIII в.
</div>

<div> Он познакомил читателей с «Планом предприемлемого путешествия в чужие краи, сочиненого по требованию некоторых
  особ содержателем благородного пансиона Вениамином Геншем», обнародованным в Москве в 1777 г. После этого все пишущие
  об истории туризма в России начинают ее с 1777 г. Достоинством монографии являлось то, что это было первое научное
  исследование полностью построенное на документах соответствующей эпохи, а не базирующееся на воспоминаниях очевидцев
  событий.
</div>

<div> Материалы, накопленные исследователями туризма, позволили провести периодизацию его истории, представляющую собой
  аналитический метод более глубокого знания как отдельных частей, так и всего явления в целом.
</div>

<div> Известно значительное число периодизаций истории туризма. Одна из наиболее распространенных построена согласно
  историческим этапам развития СССР и современной России:
</div>

<div>1. Дореволюционный</div>

<div>2. Довоенный</div>

<div>3. Послевоенный (до рубежа 50 – 60 гг.)</div>

<div>4. Периода развитого социализма ( 70 – 80 гг.)</div>

<div>5. Переходный период</div>

<div>6. Двухтысячные годы</div>

<div>Другая известная периодизация, используемая достаточно часто в публикациях по истории туризма, состоит из семи
  периодов и отражает основное направление туристской деятельности соответствующего исторического отрезка времени или
  организационно-административные особенности туризма определенного периода:
</div>

<div>1. Просветительского – до 90-х гг. XIX в.</div>

<div>2. Предпринимательского – 1890-1917 гг.</div>

<div>3. Туристско-экскурсионной работы – 1917-1930 гг.</div>

<div>4. Организационно-централизованного – 1930-1970 гг.</div>

<div>5. Административно-нормативного – 1970-1990 гг.</div>

<div>6. Переходного – с 1990 г.</div>

<div>7. Современного состояния российского туристского рынка</div>

<div>Одну из наиболее глубоко проработанных периодизаций российского туризма предложил В.В. Абрамов. Выбрав для нее два
  критерия периодизации – организационные структуры и интенсивность развития туризма, он выделяет 8 этапов:
</div>

<div>1-й этап – предтеча организованного туризма в России,</div>

<div>1777 – 1890 гг., от «Плана» Вениамина Генша до создания Крымского горного клуба</div>

<div>2-й этап – зарождение организованного отечественного движения, 1890 – 1917 гг.</div>

<div>3-й этап – становление туристско-экскурсионного дела в СССР, 1917 – 1936 гг.</div>

<div>4-й этап – внедрение новых организационных форм управления массовым туризмом, 1936 – 1969 гг.</div>

<div>5-й этап – совершенствование структуры управления туристско-экскурсионной системой, 1969 – 1985 гг.</div>

<div>6-й этап – период интенсивного развития туризма, 1985 – 1991 гг.</div>

<div>7-й этап – деструктуризация системы социального туризма, 1991 – 1995 гг.</div>

<div> 8-й этап – переходный период к созданию национальной туристской индустрии, 1995 г. – настоящее время</div>

<div> Последней, самой новой является периодизация истории российского туризма Г.П. Долженко и Ю.С. Путрика. Они в
  качестве критерия периодизации выбрали форму организации туристской деятельности, доминирующую в определенный
  исторический отрезок времени. Вся история туризма разбита ими на четыре периода.
</div>

<div>1 период. <b>Предыстория организованного туризма </b>(одиночные события туристского характера). Временные рамки
  данного периода ограничены осенью 1696 г., когда группа молодых дворян была направлена на учебу за рубеж, и осенью
  1878 г., временем создания в Тифлисе «Общества любителей естествознания и альпийского кавказского клуба». В этот
  период входят поездки на курорт Марциальные воды под Петрозаводском, Кавказские Минеральные Воды, попытка организовать
  гран – туры из России, выпуск первых путеводителей по столицам..
</div>

<div> 2 период.<b> Добровольно-общественная форма организации туристской деятельности</b>. Временные его рамки
  ограничены 1878 – 1936 гг. В этот период развитие внутреннего туризма в России происходило преимущественно благодаря
  деятельности общественных организаций, таких как Крымско-Кавказского горного клуба, Российского общества туристов,
  Русского горного общества, Кавказского горного общества города Пятигорска, бюро и комитетов различных обществ,
  Всесоюзного добровольного общества пролетарского туризма и экскурсий.
</div>

<div> 3 период. <b>Профсоюзно-государственное руководство туризмом в стране</b>. Он начинается с ликвидации в апреле
  1936 г. ОПТЭ и передачи его функций ВЦСПС и Всесоюзному совету физической культуры. Развитием туризма в стране в этот
  период руководили ЦСТЭ ВЦСПС, БММТ «Спутник», Государственный комитет СССР по иностранному туризму.
</div>

<div> 4 период. <b>Коммерческие формы туристской деятельности и их государственное регулирование</b>. Период начинается
  в конце 80-х гг. вместе с перестройкой в стране.
</div>

<div> Периодизация истории туризма в России, разработанная Г.П Долженко и Ю.С.Путриком, как и все предыдущие имеет
  определенную односторонность, так как проведена по одному критерию, но она дала возможность документально показать,
  что внутренний туризм в России формировался, благодаря деятельности добровольных общественных организаций. В рамках
  Крымско-Кавказского горного клуба было создано эффективно работающее Ялтинское отделение ККГК, практически являвшееся
  экскурсионным бюро, обслужившим за время своего существования 120 тысяч экскурсантов. Российское общество туристов
  создало отделения общества по всей России, разработало множество дальних маршрутов, начало активно пропагандировать
  ученические экскурсии, Русское горное общество предприняло попытки осваивать не только Кавказ, но и горы Средней Азии.
  Общества пролетарского туризма и экскурсий представляло собой в год ликвидаии достаточно крепкую, финансово
  самостоятельную организацию с хорошими перспективами для деятельности по дальнейшему развитию внутреннего туризма в
  Советском Союзе.
</div>

<div class="questions">

  <div>Контрольные вопросы к разделу-модулю «История туризма в России»</div>

  <div>1. Когда и какие опубликованы первые обобщающие работы по истории туризма в России?</div>

  <div>2. Назовите этапы периодизации истории российского туризма, выделенные В.В. Абрамовым.</div>

  <div>3. Какой критерий периодизации выбран Г.П. Долженко и

    Ю.С. Путрик? Охарактеризуйте периоды, разработанной ими

    периодизации.
  </div>

</div>