<div> Исследование рекреационной деятельности повлекло за собой изучение влияния отдыхающих на природные комплексы, что
  было связано с проблемой оптимизации рекреационных нагрузок в местах массового отдыха и определения емкости этих
  территорий. Данная проблема решалась рядом ученых, среди которых наибольший вклад внесла Н.С. Казанская (1972). На
  основе изучения воздействия отдыхающих на природные комплексы лесопарковой зоны Подмосковья ею были выделены 5 стадий
  рекреационной дигрессии:
</div>

<div> <b>1 стадия</b>. Деятельность человека не внесла в лесной комплекс заметных изменений.</div>

<div> <b>2 стадия</b>. Рекреационное воздействие отдыхающих выражается в формировании редкой сети тропинок, в появлении среди
  травянистых растений некоторых светолюбивых видов, в начальной фазе разрушения находится подстилка.
</div>

<div> <b>3 стадия</b>. Тропиночная сеть сравнительно густа, в травянистом покрове преобладают светолюбивые виды, начинают
  появляться луговые травы, мощность подстилки уменьшается, на внетропиночных участках возобновление леса все еще
  удовлетворительное.
</div>

<div> <b>4 стадия</b>. Тропинки густой сетью опутывают лес, в составе травянистого покрова количество собственно лесных видов
  незначительно, жизнеспособного подроста молодого возраста (до 5-7 лет) фактически нет, подстилка встречается лишь
  фрагментарно у стволов деревьев.
</div>

<div> <b>5 стадия</b>. Полное отсутствие подстилки и подроста, отдельными экземплярами на вытоптанной площади - сорные и
  однолетние виды трав.
</div>

<div> Граница устойчивости природного комплекса, т.е. предел, после которого наступают необратимые изменения, проходит
  между 3 и 4 стадиями. Следовательно, за предельно допустимую принимается та нагрузка, которая соответствует 3 стадии
  дигрессии. Необратимые изменения в природном комплексе начинаются на 4 стадии, а угроза гибели лесных насаждений - на
  5 стадии дигрессии.
</div>

<div> Исследования Н.С. Казанской дигрессии природных комплексов под влиянием рекреационной деятельности стали
  методической основой для разработки программ исследования во многих регионах страны, отличающихся природными
  условиями.
</div>

<div> Так, М.Н. Коблова, М.И. Асакова, А.И. Дорохова перенесли методику исследования дигрессии природного комплекса,
  разработанную Н.С. Казанской, на луговые сообщества, показав, что они меньше подвержены воздействию рекреантов. А.А.
  Николин установил, что пригородные леса в окрестностях Свердловска испытывают достаточно мощное рекреационное
  давления, и во многих местах степени дигрессии можно присвоить 3 стадию. Л.Н. Рожков, В.С. Романов, акцентировав
  внимание на сосновых лесах Белоруссии, обратили внимание на то, что сосняки мшистые устойчивы к рекреационным
  нагрузкам и в перспективе при существующем прессе отдыхающих не произойдет серьезных изменений в экологических
  условиях существования лесных биогеоценозов. И.И. Счастная, изучая допустимые рекреационные нагрузки на леса
  пригородных мест отдыха Минска, констатировала идентичность безопасных нагрузок для исследованных ею территорий и
  Подмосковья, рассчитанные Н.С. Казанской. В лесостепной зоне в Воронежской области реакцию дубрав на рекреационное
  воздействие изучал Т.И. Васильченко. Было показано, что этот тип лесов достаточно устойчив к нагрузкам. В Ростовском
  государственном университете предпринята попытка исследования дигрессии пойменных лесов под влиянием отдыхающих. Этот
  тип лесной растительности является основным среди лесов степной природной зоны, используемых для организованного и
  неорганизованного отдыха. Было установлено, что несмотря на интенсивный ежегодный рекреационный пресс, пойменные леса
  Дона не испытывают столь вредоносного воздействия от рекреантов как в лесной зоне, что связано с условиями
  произрастания лесов и режимом их рекреационного использования.
</div>

<div> Главными негативными последствиями массовой рекреации в пойменных лесах степной зоны, как было установлено
  экспедиционными исследованиями на Нижнем и Среднем Дону, является их замусоренность - следы от пребывания в них
  отдыхающих. Поэтому основная борьба с последствиями рекреационного воздействия на пойменные леса степной зоны
  (Ростовская, Волгоградская области, Краснодарский, Ставропольский края и др.) связана не с уменьшением численности
  отдыхающих в них, а в повышении культуры поведения граждан на природе.
</div>

<div> Методика определения рекреационной дигрессии была воспринята географами, работающими в высших учебных заведениях
  Советского Союза, и широко использовалась при изучении территорий массового отдыха, особенно, в период 1975 - 1985
  гг., что подтверждается многочисленными публикациями.
</div>

<div class="questions">
  <div> Контрольные вопросы к модулю «Рекреационная дигрессия природных комплексов»</div>

  <div>1. Какое количество стадий дигрессии выделено Н.С. Казанской? Охарактеризовать эти стадии.</div>

  <div>2. Почему пойменные леса степной зоны Юга России более устойчивы к рекреационным нагрузкам?</div>
</div>

