.bundle
db/*.sqlite3
log/*.log
tmp/**/*
misc/
build/
.idea/
public/videos/
public/images/spain/
db/models/articles/**/slideshow/source/*.*
db/models/articles/**/slideshow/resized/*.*
*.flv
app/stylesheets/.sass-cache/