<div>Туризм,
бурное развитие которого началось в мире в 50-е гг. XX
в., оказывает сегодня влияние на хозяйственное развитие не только стран,
традиционно считавшихся туристскими, но на всю мировую экономику. Являясь
сферой услуг, он определяет состояние и других ее составляющих - торговли,
страхования, банковского дела, связи и т.д. Туризм вносит также коррективы в
развитие машиностроения, особенно автомобилестроения и авиационной
промышленности, строительной индустрии, сельского хозяйства, образования и др.
В 2008 г. в мире насчитывалось около 900 млн международных туристских
прибытий. Если учесть также всех путешествующих по территориям своих стран, то
получится цифра, равная нескольким миллиардам. </div>

<div> В
мировой индустрии туризма в настоящее время занято около 250 млн чел. На долю
туризма приходится каждое десятое рабочее место, 11% мировых потребительских
расходов и около 30% мировой торговли услугами. Эксперты Всемирного совета по
путешествиям и туризму считают, что мировая индустрия туризма произведет
товаров и услуг в 2012 г. на общую сумму более 9 трлн долларов США. Специалисты
ЮНВТО прогнозируют, если туризм будет развиваться темпами, которых он достиг в
первые годы XXI в., то число международных туристских прибытий в 2020 г. превысит 1, 5 млрд. </div>

<div> Россия
играет все большую роль на международном туристском рынке. С населением около
141 млн чел. (2,17 % населения мира) общий объем ее выездного потока в 2008 г. составил 36,5 млн чел. (4 % международных туристских прибытий в мире), выездной поток с
туристскими целями - 11, 3 млн чел. (1,3 % международных туристских прибытий в
мире). Число участников внутреннего туризма, лишь обслуженных в средствах
размещения, в 2008 г. превысил 30 млн чел. (22 % жителей Российской Федерации).
Только на Черноморском побережье Краснодарского края за год отдыхает до 11 млн
чел. </div>

<div> Въездной
поток имеет более скромные показатели. Общий поток в 2008 г. составил 23,7
млн чел. (2,6 % международных туристских прибытий), въездной поток с
туристскими целями - 2,3 млн чел. (0,25 % международных туристских прибытий). </div>

<div> Число
организованных участников выездных, въездных и внутренних потоков в России
составляет более 90 млн.</div>

<div> По
данным Федерального агентства по туризму общий оборот российской туристской
отрасли в 2007 – 2008 гг. составлял около 50 млрд долл. США в каждый год.</div>

<div> Для
десятков миллионов туристов создаются базы размещения (гостиницы, кемпинги,
мотели и др.), рестораны и кафе, специальный туристский транспорт, всевозможные
развлечения от сложнейших тематических парков до простых аттракционов,
программы массовых и эксклюзивных туров, ведется подготовка кадров всех уровней
- от горничных до менеджеров высшего звена и т.д.</div>

<div> Туризм,
представляя собой межотраслевой хозяйственный комплекс, связан с большим числом
научных дисциплин. Многие ученые в качестве объекта исследования выбирают определенную
грань туризма. На него работают гидрогеологи, изучая минеральные лечебные воды
и грязи, инженерные геологи и геоморфологи при создании жилых комплексов,
подъемников и др., климатологи и метеорологи при разработке программ отдыха и
выборе мест для размещения туристских центров, лавинщики, ботаники, медики,
социологи, статистики и другие специалисты.</div>

<div> С
первых лет развития массового туризма в нашей стране было обращено внимание на
необходимость научного обеспечения маршрутов и программ отдыха. Инициатором
научных исследований в области туризма стало созданное в 1930 г. Всесоюзное добровольное общество пролетарского туризма и экскурсий, перед которым была
поставлена задача за короткий срок достичь массовости в туризме, а также
превратить его в эффективный фактор оздоровления трудящихся.</div>

<div> В
Российской империи подобных задач перед туристскими организациями не ставилось.
Все добровольные объединения любителей путешествий, такие как
Крымско-Кавказский горный клуб, Российское общество туристов, Русское горное
общество и др. занимались преимущественно удовлетворением потребностей своих
немногочисленных членов общества. Научные же исследования туризма в нашей
стране начались только в советское время.</div>

<div>&nbsp;</div>

<h2>Откуда и когда пошли слова «турист» и «туризм»</h2>

<div>&nbsp;</div>

<div>Слово
«турист» понятно без перевода в любой части планеты, на каком бы языке там ни
говорили. Оно, вероятно, одно из наиболее распространенных интернациональных терминов.
Только граждан, которые с полным основанием могут называть себя иностранными
туристами, то есть пересекающими границы государств, ежегодно составляет почти
один миллиард. </div>

<div>На
туристов работают многие сферы хозяйства. Выступая с докладом на Международной
научной конференции «Туризм и рекреация», проходившей в 2008 г. в Московском государственном университете им. М.В. Ломоносова, один из авторитетнейших
российских ученых в области туризма ректор Российской международной академии
туризма И.В. Зорин подчеркнул, что нет такой сферы, которая не была бы
сопряжена с туризмом.</div>

<div>Непосредственно он
определяет судьбы сотен миллионов людей нашей планеты, работающих в туризме и
сопутствующих ему областям. </div>

<div>Откуда
и когда начали распространяться по миру слова «турист» и «туризм»,
олицетворяющие собой праздничную жизнь, идущую параллельно с повседневным
рутинным бытием? На этот вопрос однозначного ответа нет. Изложим одну из
правдоподобных версий.</div>



<div>По всей вероятности, слово «турист» не существовало в
европейских языках еще в начале XVII в. Об этом можно
судить хотя бы по очерку английского философа
  <%= link_to "Фрэнсиса Бекона «О путешествиях»", Article.find(15) %>

  , увидевшим свет в 1612 г. В нем автор, описывая поездку с типично туристскими целями, ни разу не использует слов «турист» или «туризм», а
только «путешествие. Трудно представить, чтобы Ф. Бекон новые слова попросту
игнорировал.</div>

<div> Появление
этих слов, как считает ряд зарубежных и российских исследователей, состоялось
в Англии в середине – конце XVII в. и связано с развитием
гран-туров, маршрут которых пролегал по ряду европейских стран (Усыскин, 2007).
</div>

<div>Гран-туры
представляли собой поездки-путешествия состоятельных молодых англичан с целью
завершения образования. Начинался тур обычно в небольшом городке на западе
Франции, где путешественники в течение иногда нескольких месяцев
совершенствовали свой французский язык. Затем по заранее разработанному
маршруту они отправлялись знакомиться с достопримечательностями Франции,
Германии, Швейцарии и Италии. После пребывания в Италии гран-тур считался завершенным,
а его участник – широко образованным, культурным человеком, способным успешно
нести государственную службу.</div>

<div> От термина
«тур» и произошли слова «турист» и «туризм». Они стали распространяться не
только в Англии, но и в тех странах, по территориям которых проходили маршруты
гран-туров. Граждане этих стран и узнали первыми, что обозначают новые термины,
которым суждено было стать известными уже во второй половине XX в. во всем мире.</div>


<div id="tourism-in-different-languages">
  <h6> Слова «турист» и «туризм» на основных европейских языках</h6>

  <table>
    <tr>
      <th>
Русский
      </th>
      <th>
Англ.
      </th>
      <th>
Франц.
      </th>
      <th>
Немецк.
      </th>
      <th>
Итальян.
      </th>
      <th>
Испанск.
      </th>
    </tr>
    <tr>
      <td>
Турист
      </td>
      <td>
tourist
      </td>
      <td>
touriste
      </td>
      <td>
tourist
      </td>
      <td>
turiste
      </td>
      <td>
turisto
      </td>
    </tr>
    <tr>
      <td>
Туризм
      </td>
      <td>
tourism
      </td>
      <td>
tourisme
      </td>
      <td>
touristik
      </td>
      <td>
tourismo
      </td>
      <td>
turismo
      </td>
    </tr>
  </table>
</div>

<div> В лексику русского языка слово
«туризм» начало входить немногим более 100 лет назад. Ни в широко известном в
нашей стране «Толковом словаре великорусского языка» В.И. Даля, изданном в 1863
– 1866 гг., ни в русской универсальной энциклопедии Брокгауза и Ефрона,
выпущенной акционерным издательским обществом Ф.А. Брокгауза – И.А. Ефрона в
1890 – 1907 гг., статей, поясняющих значение слова «туризм», не найти.</div>

<div> Отсутствовало оно и в названии и
тексте устава первого в России «Предприятия для общественных путешествий во все
страны света Леопольда Липсона», открытого в Санкт-Петербурге в 1885 г., а также в названии и уставе первой крупной общественной организации в Российской империи –
Крымского горного клуба, созданного в 1890 г. в Одессе и объединившего любителей путешествий в Таврических (Крымских) горах.</div>

<div>Слово
«туризм» стало более или менее активно распространяться в России после создания
в 1895 г. в Санкт-Петербурге Общества велосипедистов-туристов, имевшим второе
название «Русский туринг-клуб» и переименованным в начале XX в. в Российское общество туристов. К 1903 г. члены Общества были зарегистрированы уже в 174 российских городах как в европейской, так и в
азиатской частях страны, которые и принесли слово «туризм» в широкие массы
соотечественников и на страницы различных средств массовой информации.</div>

<div>Слово
«туризм» впервые приобрело энциклопедический статус в России в 1947 г., когда о нем появилась обширная статья в 55 томе первого издания Большой советской
энциклопедии.</div>
