/* line 36, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9;
}
/* line 39, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 44, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 46, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff;
  visibility: hidden;
}
/* line 48, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.sass */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 15, ../../../app/stylesheets/screen.sass */
body.bp {
  background-color: rgb(212,208,200);
  width: 620px;
  margin-left: 300px;
  text-align: justify;
}
/* line 9, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.bp .clearfix {
  display: block;
}
/* line 18, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_utilities.sass */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 7, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_debug.sass */
body.bp .showgrid {
  background: url('/images/grid.png?1269278466');
}
/* line 5, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .error a {
  color: #8a1f11;
}
/* line 7, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 38, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .notice a {
  color: #514721;
}
/* line 9, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 46, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .success a {
  color: #264409;
}
/* line 11, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .hide {
  display: none;
}
/* line 13, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .highlight {
  background: yellow;
}
/* line 15, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 15, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp label {
  font-weight: bold;
}
/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px;
}
/* line 28, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input[type=checkbox], form.bp input.checkbox,
form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 34, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 37, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp select {
  margin: 0.5em 0;
}
/* line 49, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 51, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea,
form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 55, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus,
form.bp select:focus {
  border: 1px solid #666666;
}
/* line 42, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 44, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_form.sass */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 31, ../../../app/stylesheets/screen.sass */
body.three-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 5, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
body.three-col #container {
  display: block;
}
/* line 33, ../../../app/stylesheets/screen.sass */
body.three-col #header, body.three-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 101, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #header, * html body.three-col #footer {
  overflow-x: hidden;
}
/* line 35, ../../../app/stylesheets/screen.sass */
body.three-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 101, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #sidebar {
  overflow-x: hidden;
}
/* line 39, ../../../app/stylesheets/screen.sass */
body.three-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 101, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.three-col #content {
  overflow-x: hidden;
}

/* line 48, ../../../app/stylesheets/screen.sass */
.article {
  font-style: Times New Roman;
  font-size: 14pt;
}
/* line 52, ../../../app/stylesheets/screen.sass */
.article div {
  margin-top: 10px;
  line-height: 150%;
}
/* line 55, ../../../app/stylesheets/screen.sass */
.article div:first-letter {
  margin-left: 2em;
}
/* line 59, ../../../app/stylesheets/screen.sass */
.article .quote {
  font-style: italic;
  font-weight: bold;
  margin-left: 4em;
}
/* line 60, ../../../app/stylesheets/screen.sass */
.article .quote:first-letter {
  margin-left: 0;
}
/* line 67, ../../../app/stylesheets/screen.sass */
.article #tourism-in-different-languages {
  background-color: gray;
}
/* line 70, ../../../app/stylesheets/screen.sass */
.article .questions {
  font-style: italic;
}
/* line 75, ../../../app/stylesheets/screen.sass */
.article #aleksandrova-class > li {
  font-weight: bold;
}
/* line 77, ../../../app/stylesheets/screen.sass */
.article #aleksandrova-class > li li {
  font-weight: normal;
}
/* line 80, ../../../app/stylesheets/screen.sass */
.article #opte-motto {
  background-color: gray;
}
/* line 84, ../../../app/stylesheets/screen.sass */
.article .table table {
  border: 1px solid black;
}
/* line 4, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/tables/_borders.sass */
.article .table table thead th {
  border-bottom: 1px solid black;
}
/* line 7, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/tables/_borders.sass */
.article .table table tfoot th, .article .table table tfoot td {
  border-top: 1px solid black;
}
/* line 10, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/tables/_borders.sass */
.article .table table th:first-child {
  border-right: 1px solid black;
}
/* line 14, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/tables/_borders.sass */
.article .table table th, .article .table table td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/tables/_borders.sass */
.article .table table th:last-child, .article .table table td:last-child,
.article .table table th.last, .article .table table td.last {
  border-right-width: 0px;
}
/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-head/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/tables/_borders.sass */
.article .table table tbody tr:last-child th, .article .table table tbody tr:last-child td, .article .table table tfoot tr:last-child th, .article .table table tfoot tr:last-child td,
.article .table table tbody tr.last th, .article .table table tbody tr.last td, .article .table table tfoot tr.last th, .article .table table tfoot tr.last td {
  border-bottom-width: 0px;
}
