<div>Экономический успех туризма в регионе базируется, в первую очередь, на туристских ресурсах, изучение свойств
  которых в России началось в 30-е гг. и продолжается до настоящего времени. Ресурсная база страны подвергается
  глубокому анализу в работах регионального характера. В настоящее время на всей территории России ведется изучение
  туристского потенциала регионов и разрабатываются прогнозы развития в них туристской отрасли хозяйства, что
  иллюстрируют следующие публикации, посвященные различным территориям: западному анклаву России --
  «Туристско-рекреационный потенциал муниципальных образований Калининградской области» Е.А. Романовой, О.Л.
  Виноградовой (2008), восточным территориям – «Естественные предпосылки развития экологического туризма в Камчатской
  области» С.Ю. Елисеева (2006), северным окраинам - «Туристские возможности плато Путорана»» А.Ю. Королева (2006),
  популярному южному туристскому региону страны – «Инновационные возможности транспортного обеспечения сферы
  туристско-экскурсионных услуг Азово-Черноморского побережья России» С.А. Домората (2008) и многие другие.
</div>

<div>Повсеместно в регионах на туризм смотрят с оптимизмом и возлагают на туристскую отрасль хозяйства большие надежды
  при оценки ее экономической роли, особенно при дальнейшем развитии маргинальных районов. Но необходимо высказать
  несколько иную, отличную от принятой оптимистической точки зрения на роль туризма в регионах.
</div>

<div>Главной целью изучения туристских ресурсов в регионах является их оценка, которая включает в себя классификацию
  основных ресурсов, определение их ценностных свойств, картирование.
</div>

<div>Под классификацией туристских ресурсов нами понимается их распределение по видам туризма, что дает ответ на вопрос,
  какие виды туризма могут развиваться в конкретном регионе.
</div>

<div>Определение ценностных свойств ресурсов одна из трудных задач. Ресурсам следует дать статус местного, федерального
  или международного значения. Это возможно сделать только группе экспертов, заранее разработавших критерии оценки.
</div>

<%= render "additional_material",
           :title => Article.find(53).title.html_safe,
           :path => Article.find(53) %>

<div> Существенная экономическая роль туризма в регионе отмечается тогда, когда в него направляются большие потоки
  туристов из других субъектов Федерации и из-за рубежа. Среди видов туризма большие потоки образуют купально-пляжный,
  концентрирующийся на Черноморском побережье Краснодарского края, лечебно-оздоровительный – курорты Кавказских
  Минеральных Вод и, опять таки, Черноморское побережье, Алтайский край с его курортной зоной, культурный туризм,
  центрами которого являются Москва, Санкт-Петербург и «Золотое кольцо России». Для этих регионов туристская отрасль
  хозяйства и является отраслью российской специализации. В них туризм выступает в качестве одного из локомотивов
  развития хозяйства.
</div>

<div>В остальных же районах страны туризм не может стать отраслью специализации по причине отсутствия в них ресурсов
  международного значения и поэтому удел данных районов оставаться мало востребованными гражданами России для целей
  отдыха.
</div>

<div>На базе туристских ресурсов низкого бонитета может развиваться лишь внутрирегиональный туризм, который не играет
  существенной роли в экономике регионов. Для того, чтобы создать поток въездного туризма необходимо расширение
  туристского потенциала территории. Ярким примером этой деятельности в России является превращение города Мышкина в
  туристский центр Владимирской области. Его туристский имидж был создан практически с нуля.
</div>

<div>У Мышкина изначально не существовало выгодных условий для развития туриндустрии. Он представляет собой один из
  малых городов Средней России. Для начала в городе создали два уникальных музея Мыши и Водки, и когда стало понятно,
  что к Мышкину начали проявлять большой интерес туристы, город включили в программы круизных маршрутов по Волге. В
  настоящее время бюджет города наполняется на четверть от туристской индустрии. Это является примером, как созданные
  ресурсы могут стать основными для развития туристской индустрии в регионе, не отличающимся туристской
  привлекательностью.
</div>

<div>Расширение географии въездного туризма может произойти за счет эксклюзивных региональных программ. В качестве
  примеров служат этнографические туры, организуемые на Байкале, в Алтае, Бурятии, Якутии, экологические экскурсии для
  туристов круизных судов на Камчатке, посещение алмазных рудников и золотодобывающих артелей в Якутии.
</div>

<div>В последние годы в ряде субъектов Федерации создали эксклюзивные программы для иностранных туристов, которые
  увеличили въездной поток в них. К таким регионам относятся Костромская, Смоленская, Вологодская, Самарская,
  Владимирская области.
</div>

<div class="questions">
  <div>Контрольные вопросы к модулю «Исследования туристских возможностей субъектов Федерации в начале XXI в.»</div>

  <div>1. Что представляет собой основу развития массового туризма в регионе?</div>

  <div>2. Что может стать альтернативой природным и историко-культурным туристским ресурсам?</div>
</div>