%ul#slideshow
  - Dir[File.join(Rails.root + "public", article_asset_path("slideshow/resized/*.*"))].sort.each do |image| 
    %li
      = image_tag image.sub(/^#{ Regexp.escape (Rails.root + "public").to_s }/, "")