%table
  %tr
    %td
      != render @articles
    %td
      != Article.flatten.map(&:id).join("<br/>")

- if Rails.env.development? && params[:action] == "index"
  = link_to 'New article', new_article_path