<% @h1_class = :under_banner %>
<%= article_image_tag("image003.jpg", :id => :banner, :style => "left: 80px;") %>

<%= article_image_tag("image004.jpg") %>

<div class="luminary">Анна Юрьевна Александрова –</div>

<div>профессор кафедры рекреационной географии и туризма МГУ,</div>

<div>доктор географических наук</div>

<div>&nbsp;</div>

<div>«Сущностное определение туризма»</div>

<div>(раздел из учебника А.Ю. Александровой</div>

<div>«Международный туризм». М., 2002.)</div>

<div>«С
развитием научного знания о туризме последний предстает как системный объект
изучения. Рабочие дефиниции, ограниченные узкоотраслевыми рамками, не
раскрывают всего многообразия внутренних и внешних связей этого
общественно-экономического явления. Поэтому возникает необходимость
концептуального, или сущностного, определения туризма. Оно формирует
комплексное представление о предмете исследования.</div>

<div> В научной
литературе по вопросам туризма отсутствует однозначное его определение. Но
несмотря на различие формулировок, все авторы включают в понятие «туризм»
туристские потребности и мотивации, особенности поведения туристов, их пребывание
вне постоянного местожительства, экономические отношения, складывающиеся между
туристами и производителями товаров и услуг,
взаимодействие сферы туризма с окружающей природной,
экономической и другими макросредами.</div>

<div> Широкое распространение
среди специалистов разных стран получило сущностное определение туризма,
предложенное Международной ассоциацией научных экспертов в области туризма.
Согласно ему, туризм есть </div>

<div class="quote">«совокупность отношений и явлений, которые возникают во время перемещения и пребывания людей
в местах, отличных от их постоянного места проживания и работы».</div>