<div> После медиков, начавших в 30-е гг. изучать физиологические основы туризма, историков, постоянно обращавшихся к
  обобщениям такого феномена, каким является туризм, на него обратили внимание экономисты, увидевшие в туризме важный
  фактор экономического и социального развития как отдельных регионов, так и страны в целом.
</div>

<div>Туризм в Советском Союзе вплоть до середины 60-х гг. XX в. не рассматривался в качестве отрасли экономики. С
  течением времени он начал развиваться качественно и количественно, и наступил рубеж, когда экономисты пришли к
  пониманию туризма как экономического феномена и той роли, которую он может сыграть для развития национальной
  экономики. Первая научная публикация, затрагивавшая экономические аспекты туризма, относится к 1965 г. Это была статья
  В.М. Кривошеева «Экономика туризма» в журнале «Вопросы экономики».
</div>

<div> В 1965 г. туризм в Советском Союзе получил уже заметное развитие. Объем обслуживания туристов в этот год составил
  3,9 млн чел. Действовали свыше 450 туристских баз, 240 железнодорожных туристских рейсов, имелось 82 туристских
  теплохода. Почти миллион советских людей побывали за рубежом в качестве туристов (Абуков, 1978). Но экономическим
  фактором развития регионов и страны в целом туризм еще не стал, так как носил преимущественно социальный характер, и
  предприятия, обслуживающие туристов, являлись дотационными.
</div>

<div> Так, например в 1985 г., когда туристская деятельность в Советском Союзе достигла наивысших показателей, около 80
  % граждан из числа отдохнувших в здравницах профсоюзов получили путевки за счет средств социального страхования и
  государственного бюджета или по льготным ценам с оплатой только 30 или же 50 % их стоимости. Кроме того, сотни тысяч
  трудящихся приобрели путевки бесплатно или по льготным ценам за счет средств фонда социально-культурных мероприятий и
  фонда предприятий.
</div>

<div> В.М. Кривошеев впервые в отечественной научной литературе обратил внимание на экономические стороны международного
  туризма: «Социальная и культурная ценность туризма настолько очевидна, что ее не стоит доказывать. Но есть в
  международном туризме одна сторона, которая еще достаточно у нас не изучена. Речь идет о его экономическом значении, о
  способности привлекать в государственный и местный бюджеты валюту, кроме всего прочего, для развития самого туризма».
  Далее он подчеркивает, что туризм действительно покоится на материальной основе. Для туриста нужны транспорт, средства
  связи, гостиницы, рестораны, магазины и т.д. Различные учреждения, организации, предприятия, прямо или косвенно
  обслуживающие туриста, представляют собой комплекс зависимых друг от друга производств, правильная, четкая
  деятельность которых, насыщенность ими непосредственно отражается на обслуживании туриста.
</div>

<div>В статье были затронуты многие вопросы особенностей экономики туризма: эластичность спроса на туристские услуги,
  оказание услуг по месту их производства, фактор сезонности в туризме, необходимость постоянного анализа деятельности
  туристских предприятий и др.
</div>

<div>Первая монография, в которой рассматривались экономические вопросы туризма, появилась в 1972 г. Ею стала «Экономика
  и организация туризма. Методические вопросы», подготовленная В.И. Азаром. Как образец блестящей научной мысли она
  вошла в историю науки о туризме и долгое время служила основным учебником во многих вузах страны.
</div>

<div>70-е гг. отмечены ростом числа диссертаций на соискании ученой степени кандидата экономических наук, в которых в
  качестве объекта исследования были взяты различные стороны туристской сферы. Назовем одни из первых диссертаций:
  Курьян Г.И. «Экономические вопросы развития индустрии туризма на Байкале», Бирюков Е.С. «Развитие туризма в СССР и его
  влияние на экономику», Рогозинская Е.А. «Экономические проблемы организации и управления туризмом в СССР», Иващенко
  А.И. «Экономические проблемы управления туризмом в развитом социалистическом обществе» и др.
</div>

<div>70-е гг. и стали начальным периодом исследования экономических сторон отечественного туризма. Высшая школа еще
  недостаточно была вовлечена в данную работу, так как в это время только появились на географических факультетах
  классических университетов страны специализации «Краеведение, методика и организация туристско-экскурсионного дела».
  Обучение экономистов для туристско-экскурсионных организаций начал единственный в стране факультет по подготовке
  кадров санаторно-курортных и туристско-экскурсионных учреждений Высшей школы профсоюзного движения ВЦСПС, на котором в
  1972 г. была учреждена специализация «Туризм».
</div>

<div>Значительный рост числа диссертационных работ по экономическим вопросам туризма произошел после учреждения в высшей
  школе в 1994 г. специальности «Социально-культурный сервис и туризм». В настоящее время по данной специальности
  ведется обучение более чем в 200 вузах и их филиалах. Большое место в Государственном образовательном стандарте
  специальности занимают экономические дисциплины «Экономика туризма», «Менеджмент туризма», «Маркетинг туризма»,
  «Статистика туризма», «Финансово-экономическая деятельность в туристских предприятиях» и др., что является
  плодотворной средой для ведения научной деятельности в области экономических сторон туризма.
</div>

<div> Анализ сборника трудов главного российского туристского форума «Туризм и рекреация: фундаментальные и прикладные
  исследования», проводимого в Московском государственной университете, Вестника Национальной академии туризма за 2005 –
  2006 гг., сборников научных трудов «География и туризм» за 2006 – 2008 гг., издающихся Пермским государственным
  университетом ( всего в статистическую обработку было вовлечено более 550 работ, что в полной мере отражает
  современную палитру направлений научных исследований туристской сферы страны) показал преобладание публикаций
  экономического характера над всеми остальными. Около 40% статей включает экономический исследовательский блок, куда
  входят публикации по общим вопросам экономики туризма, менеджменту и маркетингу туризма, проблемам оптимизации
  развития персонала, гостиничному и ресторанному бизнесу, ценообразованию в туризме, страхованию и др., что
  подтверждает понимание туризма как сложнейшей, комплексной сферы современной российской экономики.
</div>

<div> Предлагаем познакомиться с трактовкой вопроса
  <%= link_to "«Экономические основы туристской деятельности»", Article.find(27) %>
  видного российского ученого в области туризма ректора Российской международной академии туризма В.А. Квартального. -
  (Материал для самостоятельного изучения).
</div>

<div class="questions">
  <div>Контрольные вопросы к разделу третьему – модулю «Изучение экономических аспектов туризма»</div>

  <div>1. Почему в России только в середине 60-х гг. XX в. на туризм обратили внимание как на сектор экономики?</div>

  <div>2. Что подразумевается под «туристской политикой государства»?</div>

  <div>3. Прямое и косвенное влияние туризма на экономику страны.</div>

  <div>4. Положительные аспекты туристской деятельности.</div>

  <div>5. Отрицательные аспекты туристской деятельности.</div>
</div>