<div> Научные исследования отдельных вопросов эволюции рекреационной географии как научного направления проводятся на
  кафедре рекреационной географии и туризма Московского государственного университета, созданной в 2004 г.
</div>

<div> Московские ученые под аббревиатурой ТРС понимают туристско-рекреационные системы разной сложности, состоящие из
  территориального единства рекреантов, природно-культурного комплекса, инженерных рекреационных объектов,
  обслуживающего персонала и систем управления.
</div>

<div> В.И. Кружалин (2008) предлагает выделять три уровня территориально-рекреационных систем, соответствующих трем
  уровням административного деления страны: муниципальному, региональному и федеральному, что связано с организацией
  управления территориями, которая осуществляется в границах административных образований.
</div>

<div> На территориях муниципальных образований формируются элементарные туристско-рекреационные системы, представляющие
  собой компактно расположенные объекты экскурсионного показа, зон отдыха и рекреационных предприятий. В пределах
  муниципальных образований таких туристско-рекреационных систем может быть несколько.
</div>

<div> Сочетание туристско-рекреационных систем муниципального уровня в пределах границ отдельного региона (республики,
  области, края) формирует региональную туристско-рекреационную систему, которая в зависимости от
  туристско-рекреационного потенциала, разнообразия природных и культурно-исторических факторов может носить комплексный
  или монопрофильный характер развития различных видов туризма и рекреации.
</div>

<div> Единая туристско-рекреационная система страны является верхним уровнем в иерархии ТРС России. Она включает
  разнообразные по своему составу, степени сложности и назначению туристско-рекреационные системы, располагающиеся в
  административных образованиях всех уровней.
</div>

<div> Размещение ТРС в пространстве определяется природными условиями, культурно-историческими ресурсами, уровнем
  социально-экономического развития территории. В силу пространственной неоднородности перечисленных факторов ТРС
  размещаются неравномерно группируясь в более сложные территориальные системы.
</div>

<div> В.И. Кружалин в пределах границ ТРС выделяет три типа взаимосвязанных туристско-рекреационных каркаса: площадные,
  линейно-узловые и этно-социальные. В число каркасов площадного типа входят следующие каркасы:
  геолого-геоморфологический, ландшафтный, экологический, селитебный, культурно-исторический. В состав линейно-узловых
  каркасов: транспортный, энергетический, информационный, водоснабжения и канализации (коммунальный). Этно-социальный
  каркас формируется из местных жителей и рекреантов и является «живой соединительной тканью» туристско-рекреационной
  зоны. Сочетание различных видов туристско-рекреационных каркасов в пределах каждого типа, их набор определяют степень
  сложности проектирования и освоения туристско-рекреационной системы и объемы необходимых финансовых затрат.
</div>

<div>В начале XXI в. ученые двух высших учебных заведений страны ведут исследования, связанные с теоретическими
  вопросами рекреационной географии. В частности изучают эволюционирование во времени территориальной рекреационной
  системы - предмета исследования отечественной рекреационной географии.
</div>

<div> Таким образом, в настоящее время сосуществуют две позиции на научное направление «Рекреационная география». В
  одной продолжают развиваться идеи, заложенные В.С. Преображенским, в которых в качестве предмета исследования
  рекреационной географии <b>абсолютизируется территориальная рекреационная система</b> со всеми происходящими с ней
  изменениями. В другой, основным носителем теоретических разработок которой является Д. В. Николаенко, формулируется
  предмет исследования рекреационной географии в настоящее время, как
  <b>«изучение пространственных закономерностей и особенностей поведения людей в процессе рекреационной деятельности и
    размещение рекреационных объектов»</b>.
</div>
<div class="questions">
  <div>Контрольные вопросы к модулю «Туристско-рекреационная система России в трактовке ученых МГУ»</div>

  <div> 1. Назовите компоненты туристско-рекреационной системы.</div>

  <div> 2. Обоснуйте три иерархических уровня территориально-рекреационных систем.</div>

  <div>3. Объясните, что обозначает понятие туристско-рекреационный каркас. Какие могут существовать каркасы?</div>
</div>