<div>
  На рубеже 70 – 80-х гг. XX в. мировое сообщество вступило в новую эпоху своего развития - информационную, которая
  характеризуется преобладающей, а порой и определяющей ролью информации в жизни общества. Не обойден этим процессом и
  туризм. Сегодня деятельность по формированию, продвижению и реализации туристского продукта невозможна без
  соответствующего информационного обеспечения. Органы управления туризмом и туристские фирмы в своей работе постоянно
  сталкиваются с проблемами освоения информационных технологий, которые являются необходимым условием международной
  интеграции туристского бизнеса как информационно-насыщенной сферы.
</div>

<div> При исследовании туристского потенциала территорий и разработки программ их освоении, чем в настоящее время
  занимаются во всех субъектах Российской Федерации, специалистам приходится сталкиваться с большим количеством
  информации, характеризующей различные стороны пространства. Незаменимым средством обработки такого рода информации
  являются географические информационные системы (ГИС).
</div>

<div> «Географические информационные системы – это программно-аппаратный комплекс, способный вводить, хранить,
  обновлять, манипулировать, анализировать и выводить все виды географически привязанной информации» (Основы
  геоинформатики, 2004). ГИС обладают такими свойствами, как пространственность; структуированность данных;
  проблемно-практическая ориентированность; обеспечение комплексного и системного подхода к исследованию и отображению
  геосистем; адаптивность и многовариантность решения задач с возможностью совместного анализа значительного числа
  параметров, характеризующих геосистемы и т.д.
</div>

<div> ГИС дают возможность оперативного реагирования на любую возникающую ситуацию по какой-либо территории, с
  получением по ней всей необходимой картографической и тематической информации. Они представляет собой картометрическое
  исследование с одновременным построением любых карт, планов и схем. На основе ГИС можно моделировать различные
  процессы, явления и изучать изменение их состояния во времени.
</div>

<div> Структура ГИС, как правило, включает четыре обязательные подсистемы:</div>

<ul>
  <li>
    ввода данных, обеспечивающих ввод и/или обработку пространственных данных, полученных с различных источников (карт и
    др.);
  </li>

  <li>
    хранения и поиска, позволяющих оперативно получать данные для соответствующего анализа, актуализировать и
    корректировать их;
  </li>

  <li>
    обработки и анализа, которые дают возможность оценивать параметры, решать расчетно-аналитические задачи;
  </li>

  <li>
    представления (выдачи) данных в различном виде (карт, таблиц, блок-диаграмм, цифровых моделей местности и т.д.).
  </li>
</ul>

<div>Геоинформационные системы находят место в научной и практической деятельности повсеместно, где используется
  территориально распределенная информация и имеется необходимость в территориальном анализе, территориальной оценке и
  территориальном прогнозе.
</div>

<div>В настоящее время все большее применение находят ГИС-технологии в туристском проектировании и в процессе
  эксплуатации туристских ресурсов и объектов туристской индустрии. Но в настоящее время российский туристский бизнес
  пока еще не может отметить больших достижений в этой области. На российском фоне заметных успехов достигли только
  Москва и Санкт-Петербург, где информация представлена пока в одном ракурсе – электронной карте. Но на них отсутствует
  привязка к реальному времени и др. Например, на карте Москвы, найдя Большой театр, невозможно тут же получить список
  сегодняшних спектаклей, фотографию фасада или ссылку на его официальный сайт.
</div>

<div>ГИС могут быть большим подспорьем туристской фирме, если будет создана ГИС карта с нанесенными на ней курортами, с
  которыми сотрудничает фирма, планы их территорий, информация о качестве обслуживания, фотографии номеров, пляжей,
  названия оригинальных блюд местной кухни и др. Все это создаст огромное преимущество перед другими продавцами
  подобного туристского продукта.
</div>

<div>Особую роль ГИС играют при разработке проектов перспективного планирования развития туризма в регионе. На
  географических факультетах ряда университетов страны, таких как Московском, Санкт-Петербургском, Саратовском,
  Нижегородском и др. уже ряд лет ведутся работы по созданию ГИС «Рекреация и туризм» с целью совершенствования
  управления туристскими процессами в своих регионах. В качестве примера охарактеризуем некоторые из этих работ.
</div>

<div>Одной из известных среди специалистов страны стала географическая информационная система «Рекреация и туризм в
  Саратовской области», созданная на географическом факультете Саратовского государственного университета (Макаров и
  др., 2009). Разработанная в СГУ система должна служить инструментом эффективного управления туристской деятельностью в
  регионе. Поэтому в ГИС логично отмечается сочетание базовой (долговременной) и быстро изменяющейся информации для
  принятия как сиюминутных, так и долговременных решений.
</div>

<div>Картографическая база данных ГИС СГУ включает следующие элементы:</div>

<ul>
  <li>цифровые карты Саратовской области масштабов 1:500000 и 1:200000,</li>

  <li>цифровые карты различных масштабов – 1:100000, 1:50000, 1:25000 на территории рекреационно-значимых выделов,
  </li>

  <li>цифровые карты исторических центров г.г. Саратов, Энгельс, Балаково, Вольск масштаба 1:2000 – 1:10000 со
    специализированной нагрузкой – схемой движения общественного транспорта, местоположением культурно-исторических
    достопримечательностей, гостиниц, крупных магазинов, заправочных станций и т.п.
  </li>
</ul>

<div>
  Наряду с общими картами в ГИС «Рекреация и туризм в Саратовской области» входят базы данных специализированных
  цифровых карт, характеризующих рекреационные объекты:
</div>

<ul>
  <li>«Рекреационные и туристские объекты»;</li>

  <li>«Схема рекреационного районирования области»;</li>

  <li>«Рекреационная емкость и устойчивость ландшафтов и урочищ»;</li>

  <li>«Существующая и планируемая рекреационная нагрузка»;</li>

  <li>«Существующие и перспективные схемы туристских маршрутов»;</li>

  <li>«Схема железных и автомобильных дорог»;</li>

  <li>«Схема климатического районирования»;</li>

  <li>«Схема ландшафтного районирования»;</li>

  <li>«Памятники природы»;</li>

  <li>«Историко-культурные и архитектурные памятники»;</li>

  <li>«Схема пляжей и мест отдыха на побережье рек и водоемов»;</li>

  <li>«Экологически опасные и неблагоприятные зоны и участки»;</li>

  <li>«Заповедники, заказники и национальные парки».</li>
</ul>

<div>Кроме того, в ГИС существует блок, связанный с текстовыми данными, альбомами, различными иллюстрациями,
  фотографиями и другой дополнительной информацией.
</div>

<div>Картографические и атрибутивные базы данных распадаются на общегеографический и тематические блоки, где хранится
  информация – природная, социально-экономическая и специализированная, ориентированные на специалистов в области
  рекреации и туризма (управленцев, экскурсоводов, инструкторов по туризму), а также специализированных туристов –
  иностранцев, спортсменов-туристов, краеведов, школьных учителей, преподавателей вузов и т.д.
</div>

<div>Геоинформационные системы могут использоваться как при изучении больших по площади территорий, так и локальных
  объектов туризма, например, озера. В ГИС «Телецкое озеро» одним из главных блоков является информационно-тематический
  блок «Туризм и рекреация», так как основным богатством озера являются рекреационные ресурсы. В блок входят туристские
  комплексы: туристские базы, пансионаты, приюты. А также туристские и экскурсионные маршруты.
</div>

<div>Кроме визуализации систем ГИС представляет возможность получения исчерпывающей информации о данных объектах.
  Например, категории жилья, стоимость проживания на туристских базах и др.
</div>

<div>В данный блок включена также тема «Интересные объекты», которые наряду с археологическими памятниками, каменными
  изваяниями включает также пещеры, живописные скалы, водопады, минеральные источники. Большинство интересных объектов в
  ГИС имеют изображение, которое можно просматривать с помощью инструмента «горячая связь».
</div>

<div>Предполагается, что блок «Туризм и рекреация» в будущем будет также содержать дополнительно следующие темы:
  электростанции (мини ГЭС), линии электропередач, а также объекты, связанные с животноводством (в том числе пасеки),
  растениеводством (фруктовые сады), охотничьим хозяйством, лесозаготовками и др., т.е. с объектами отражающими
  специфику территории (Ермаков, Цхай, 2009).
</div>

<div>Одной из актуальных проблем туристской деятельности в любом регионе является организация отдыха горожан в период
  уикенда в пригородной зоне городов. И сегодня нужны научно обоснованные программы распределения отдыхающих по
  территории пригородной, практически повсеместно стихийно осваиваемой зоны. В основе создания проекта эксплуатации
  пригородных зон должна лежать географическая информационная система. Подобную ГИС создали для пригородной зоны Нижнего
  Новгорода, и она может стать рабочим образцом при разработки ГИС в окрестностях других городов. Ниже рассматриваются
  особенности ГИС-проекта, созданного для проведения природно-рекреационного районирования пригородной зоны Нижнего
  Новгорода (Полянский, 2007).
</div>

<div>В ГИС-проект вошли следующие слои:</div>

<ol>
  <li>Слои растровых подложек, созданных на основе общегеографических карт масштаба 1:500000 и 1:200000.</li>

  <li>Слои географической основы – границ Нижегородской области, административных районов Нижегородской области,
    районных центров, крупных водоемов, средних рек, железных и асфальтовых дорог.
  </li>

  <li>Слои, созданные в результате оцифровки объектов общегеографической карты масштаба 1:200000 – лесов, водотоков,
    озер и болот.
  </li>

  <li>Слои зон транспортно-пешеходной доступности разными видами транспорта.</li>

  <li>Слои тематической информации – природных районов, локализаций учреждений стационарного отдыха, зон самодеятельного
    отдыха, а также пригородных природно-рекреационных районов (ППРР).
  </li>
</ol>
<div>При помощи ГИС-проекта А.Г. Полянским были получены следующие результаты:</div>

<ul>
  <li>построены зоны доступности ППРР различными видами транспорта;</li>

  <li>построены полигональные объекты – пригородные природно-рекреационные районы;</li>

  <li>рассчитаны характеристики ППРР, их лесистость, заболоченность, озерность, густота сети водотоков и сети дорог с
    твердым покрытием;
  </li>

  <li>определена территориальная принадлежность участков интенсивного самодеятельного туризма, туристских учреждений и
    локализаций стационарного отдыха к тому или иному ППРР;
  </li>

  <li>разработана классификация пригородных природно-рекреационных районов, выделено три класса их пригодности для
    природного туризма: наилучшие, ограниченно пригодные и неблагоприятные;
  </li>

  <li>показано, что развитие природного туризма в пригородной зоне Нижнего Новгорода в настоящее время характеризуется
    как стихийное, приводящее к деградации природно-рекреационного потенциала территорий;
  </li>

  <li>намечены пути сохранения природно-рекреационных ресурсов.</li>
</ul>

<div>Приведенные примеры ГИС, разработанные в различных регионах страны, убедительно показывают, что в России в среде
  географической науки оформилась и получила широкое развитие научно-практическая деятельность по использованию
  геоинформационных систем в туризме с целью его планирования и мониторинга. В связи с созданием в настоящее время в
  субъектах Федерации программ развития туризма на ближнюю и дальнюю перспективы ГИС должны стать фундаментальной
  основой формирования единой туристско-рекреационной системы России, о которой уже неоднократно говорилось на различных
  туристских форумах.
</div>

<div>Но как можно было заметить из анализа ГИС «Рекреация и туризм в Саратовской области», ГИС «Телецкое озеро» и
  ГИС-проекта пригородной зоны Нижнего Новгорода подходы к их разработке различны. Если основополагающим компонентом при
  составлении единой туристско-рекреационной системы брать ГИС, то необходимо подготовить методические рекомендации, по
  которым бы шла разработка туристско-рекреационной системы страны. В настоящее время подобного центра, который бы
  объединил все разработки ГИС в области туризма в России, не существует.
</div>

<div class="questions">
  <div>Контрольные вопросы к модулю «ГИС в туризме»</div>

  <div>1. Что такое ГИС? Какими они обладают свойствами?</div>

  <div>2. Какие четыре обязательных подсистемы включают структуры ГИС?</div>

  <div>3. Где нашли применение в настоящее время ГИС?</div>

  <div>4. Как используются ГИС при перспективном планировании развития туризма в регионе?</div>

  <div>5. Охарактеризуйте картографическую базу данных ГИС Саратовского государственного университете.</div>
</div>