<% @h1_class = :under_big_banner %>

<a href="http://fgp.igras.ru/">
  <%= article_image_tag("image017.jpg", :id => :banner, :style => "left: 80px;") %>
</a>

<div class="luminary">Владимир Сергеевич Преображенский,</div>

<div>доктор географических наук., профессор,</div>

<div>заслуженный деятель науки РФ, академик РАЕН</div>

<div> (1918 – 1998)</div>

<div> В.С. Преображенский внес вклад в развитие землеведения и ландшафтоведения, теоретических основ рекреационной
  географии, концептуальных основ экологии человека.
</div>

<div> Родился в с. Сапогово Курской губернии в семье врача. Закончил с отличием географический факультет МГУ в 1941 г. В
  годы войны служил офицером-рекогносцировщиком в действующей армии.
</div>

<div> В 1953 – 1963 гг. руководил физико-географическими исследованиями Забайкальской экспедиции СОПСа. На севере
  Забайкалья им был открыт и впервые изучен Кодарский ледниковый район. Его имя дано леднику, перевалу и одной из вершин
  Кодара.
</div>

<div> С конца 1960-х гг. работал над изучением географических аспектов взаимоотношения природы и общества,
  геоэкологического проектирования, охраны ландшафтов.
</div>

<div> Его теоретические и прикладные исследования в сфере рекреационной географии получили признания как в нашей стране,
  так и за рубежом и вошли в систему высшего образования.
</div>

<div> В период 1975 – 1988 гг. являлся заместителем директора по научной работе Института географии АН СССР.</div>