<div>Рекреационные исследования крайне неравномерно покрывают территорию Российской Федерации, на что имеется ряд
  объективных причин. С целью выявления территориального распределения, динамики, целевой направленности работ по
  туристско-рекреационной тематике нами проведено сравнение характера публикаций двух периодов: 70 - 80 гг. XX в., когда
  в географическом сообществе страны отмечалось бурное обсуждение идей конструктивной географии, и первых пяти лет XXI
  в., периода активного становления в высших учебных заведениях туристских специализаций в различных специальностях и
  специальности «Социально-культурный сервис и туризм», преподаватели которых дали новый импульс развитию научных
  исследований различных сторон многогранного туризма.
</div>

<div> В качестве источника сведений о публикациях 70 - 80 гг. использованы библиографические указатели литературы Г.П.
  Долженко «Рекреационная география, туризм, экскурсионное дело», вып. 1 и Г.П. Долженко, Н.Г. Беленко с тем же
  названием, вып. 2, изданные Зональной научной библиотекой Ростовского государственного университета в связи с
  развитием на его геолого-географическом факультете специализации «Краеведение, методика и организация
  туристско-экскурсионного дела». Библиографические указатели РГУ представляли собой наиболее полную сводку научных
  статей и книг по рекреационной географии и туризму за указанное время в стране.
</div>

<div> В библиографические указатели вошли материалы «Известий РГО»; «Известий РАН. Серия географическая»; «Вестника
  Московского государственного университета. Серия 5, география»; съездов Географического общества СССР; Всесоюзных
  совещаний по географическим проблемам организации туризма и отдыха; ряда других конференций и совещаний; многотомной
  серии «Вопросы географии»; «Лесного журнала»; журнала «Архитектура СССР»; коллективных монографий по вопросам
  рекреационной географии и других научных изданий.
</div>

<div> Источниками информации для анализа ситуации в XXI в. стали те же центральные географические журналы, материалы
  международных совещаний по туризму, проведенные в Смоленске, Твери и Ростове-на-Дону, «Труды академии туризма»,
  публикации в национальном туристском журнале «Туристские фирмы», сборниках научных трудов «География и туризм»,
  издаваемых Пермским государственным университетом.
</div>

<div> Всего было проанализировано более 1200 источников за период 70 - 80 гг., из которых 355 представляют собой
  исследования, касающиеся вопросов рекреационной географии и туризма конкретных субъектов Федерации, и более 500
  источников, относящихся к началу XXI в., среди которых к региональным было отнесено 188 статей и монографий.
  Территориальное распределение публикаций в 70 - 80 гг. и в начале XXI в. отображено на рис. 13, 14.
</div>

<%= article_image_tag "ris13.png", :width => "600px" %>
<div>Рис. 13. Территориальное распределение публикаций по рекреационной географии и туризму за период 70 – 80 гг. XX в.
</div>
<%= article_image_tag "ris14.png", :width => "600px" %>
<div>Рис. 14. Территориальное распределение публикаций по рекреационной географии и туризму в первые годы XXI в.
</div>
<div> При анализе карто-схем прежде всего обращает на себя внимание то, что основное число региональных исследований
  находится в зоне сплошного заселения Европейской России, юга Сибири и Дальнего Востока. Наибольшее их количество в
  период 70 - 80 гг. посвящено Московской области, туристским регионам долинного типа северного склона Большого Кавказа,
  Кавминводской группе курортов, Алтаю, Байкалу, т.е. тем туристским дестинациям, которые уже многие десятилетия
  популярны среди граждан России. Крайне редки публикации по туристско-рекреационной тематике для преобладающей части
  Сибири, Дальнего Востока и северных территорий, что составляет около 75 % всей площади России, принадлежащих к ареалам
  малоблагоприятных, неблагоприятных и крайне неблагоприятных условий для проживаний человека.
</div>

<div> Наибольший вклад в развитие региональных исследований в 70 - 80 гг. внесли московские ученые, которые изучали
  условия отдыха и туризма не только Московской области, но и многих других регионов России. Так, например, И.В. Зорин,
  Ю.А. Веденин, А.П. Иващенко, Н.С. Мироненко (1976), Ю.К. Ефремов (1973), Н.А. Данилова (1972) и др. изучали условия
  отдыха Черноморского побережья Краснодарского края, Ю.А. Веденин, И.В. Зорин, Л.И. Мухина, В.С. Преображенский (1973)
  - территории Кавказских Минеральных Вод. Москвичи исследовали рекреационные особенности многих регионов страны:
  Карелии, Кольского полуострова, Большого Кавказа, Урала, Алтая, Камчатки и др.
</div>

<div> За период 70 - 80 гг. в ряде регионов России сформировались исследовательские коллективы, возглавляемые местными
  учеными. В Республике Коми известность получили работы В.П. Гладкова, Северной Осетии - Б.М. Бероева и А.С. Будуна ,
  Дагестане - У.Н. Набиевой, в Краснодарском крае - С.В. Воскобойникова. В Ставрополе была создана рекреационная
  лаборатория Ставропольского педагогического института, в которой плодотворно трудились В.В. Савельева, А.Н. Чикалин,
  В.А. Шальнев. В Ростовской области большой вклад в изучение туристских возможностей своего края внес Г.П. Долженко ,
  Республике Мордовия - В.М. Винокурова, Пермской области - С.Б. Девяткова.
</div>

<div> В XXI в. в сравнении с 70 - 80 гг. XX в. произошло резкое увеличение числа публикуемых работ по
  туристско-рекреационной тематике. Так. если за два десятилетия XX в. увидело свет 355 статей регионального характера,
  то лишь за первые 5 лет XXI в. - около 200. Значительно пополнился состав авторов. Исследованиями в области
  туристско-рекреационной деятельности начала заниматься новая многочисленная генерация ученых из разных областей
  знаний, что объясняется бурным ростом в стране числа вузов, готовящих кадры для туристской отрасли хозяйства, и,
  соответственно, количества преподавателей, ведущих научную работу по проблемам туризма.
</div>

<div> В нескольких вузах каждого областного, краевого, республиканского административного центра открыты туристские
  специализации. На географических факультетах классических университетов в рамках специальности «География» действуют
  четыре специализации: «Рекреационная география и краеведение», «Страноведение и международный туризм», «Туризм и
  экскурсионное дело, экологический туризм», «Социальная экология и туризм», в рамках специальности
  «Социально-культурный сервис и туризм» - «Туризм», «Экологический туризм», «Гостиничный сервис», «Ресторанный сервис»,
  «Курортное дело». Специальность «Менеджмент организации» включает такие туристские специализации, как «Гостиничный и
  ресторанный сервис», «Менеджмент санаторно-курортного дела», «Менеджмент туризма», «Экскурсионный менеджмент» и др.
  Всего же обучение студентов для туристской сферы велось в середине первого десятилетия XXI в. по 16 специальностям.
</div>

<div> В 70 - 80 гг. туристские специализации функционировали только на нескольких географических факультетах
  университетов страны, в институтах физической культуры и в высшей школе профсоюзного движения ВЦСПС. Соответственно,
  количество преподавателей, занятых в образовательных программах по рекреационной географии и туризму и одновременно
  занимающихся научными исследованиями, было несравненно меньше, чем в настоящее время.
</div>

<div> Анализ показывает снижение количества публикаций, посвященных популярным туристским местностям. Судя по числу и
  качеству публикаций по проблемам туризма смоленских и тверских авторов, в стране сформировалось два новых
  учебно-научных учебных центра. В Смоленске он возглавляется Смоленским гуманитарным университетом, в Твери - Тверским
  государственным университетом. Ученые обоих центров уже многие годы ведут активные исследования в области туризма по
  широкой тематике.
</div>

<div> Региональные исследования 70 - 80 гг. были посвящены преимущественно характеристике и оценке
  природно-рекреационных ресурсов, организации рекреационной деятельности, рекреационному районированию,
  функционированию территориальных рекреационных систем в рамках регионов, вопросам охраны природы в местах массового
  отдыха, устойчивости природных комплексов к рекреационным нагрузкам. Отсутствовали публикации, связанные с экономикой
  рекреационной деятельности и развитием международного туризма в рамках регионов.
</div>

<div> Вопросы географии иностранного туризма в СССР, районирование территории страны для международного туризма,
  экономические аспекты международного туризма и другие рассматривались в туристско-рекреационной литературе только в
  рамках всего Советского Союза, в основном, под эгидой Государственного комитета по иностранному туризму Совета
  Министров СССР.
</div>

<div> В туристском лексиконе отсутствовали такие понятия как «внутренний», «выездной», «въездной» туризм,
  «туроператорская и турагентская деятельность», «туристская индустрия», «туристский продукт», «туристский ваучер» и
  многие другие, ставшие обычными в современной научной и практической деятельности после принятия в 1996 г. Закона РФ
  «Об основах туристской деятельности в Российской Федерации».
</div>

<div> В содержании публикаций начала XXI в. сохранились некоторые типичные недочеты ряда работ предшествующих лет.
  По-прежнему их значительная часть посвящена характеристике туристских ресурсов регионов без соответствующей оценки
  (например, в баллах) компонентов природной и историко-культурной среды.
</div>

<div> Значительное место в настоящее время занимают материалы по экономическим вопросам туризма и международному туризму
  как выездному, так и въездному, а также исследования состояния туризма и отдельно особенностей его функционирования в
  зарубежных странах.
</div>

<div> Современные публикации, в которых рассматриваются проблемы туризма, стали более разнообразными по тематике, чем
  прежние об отдыхе и туризме, находившиеся преимущественно в рамках рекреационной географии.
</div>

<div> Изучением туризма в регионах установлено, что внутренний выездной туризм по количеству обслуженных туристов
  наиболее представителен во всех регионах страны. Однако доходы от него в региональную казну крайне невелики. Так,
  например, в Ростовской области более 200 тыс. граждан, обслуживаемых ежегодно туристскими фирмами, направляются на
  отдых, в основном, на Черноморское побережье Краснодарского края и в горные районы Северного Кавказа, способствуя
  укреплению там местной туристской индустрии.
</div>

<div> Только несколько регионов в России привлекают сегодня большое число отдыхающих из других субъектов Федерации.
  Следовательно, лишь в них туризм может рассматриваться в качестве фактора, стабилизирующего экономическую ситуацию.
  Это Москва и Санкт-Петербург, Черноморское побережье Краснодарского края, Ставропольский край с Кавминводской группой
  курортов, в Карачаево-Черкессии - Тебердино-Домбайский туристский район, в Кабардино-Балкарии - Приэльбрусье,
  Астраханская обл. - Ахтуба и дельта Волги, Алтайский край, Иркутская обл., при условии постоянного въездного
  туристского потока из Китая.
</div>

<div> Остальную территорию России следует отнести к районам преимущественно внутреннего выездного туризма, граждане
  которых способствуют развитию туристской индустрии вышеназванных регионов страны.
</div>

<div> Выездной международный туризм развит во всех субъектах Российской Федерации в достаточной степени благодаря
  деятельности местных туристских фирм, а также филиалов крупных московских туроператоров. С экономической точки зрения
  он в нашей стране выполняет ту же функцию, что и внутренний выездной, работает на благо зарубежным дестинациям.
</div>

<div> Въездной международный туризм представляет сегодня средство развития ряда отраслей хозяйства преимущественно для
  двух субъектов Федерации - Москвы и Санкт-Петербурга. На остальной территории отсутствуют туристские ресурсы, а также
  туристская инфраструктура, которые могли бы обеспечить формирование больших потоков гостей из-за рубежа, приносящих
  значительную прибыль региону.
</div>

<div> Многие исследователи из различных городов страны возлагают надежды на деловой туризм. Но следует иметь в виду, что
  динамика прибытия деловых туристов в регион не прогнозируема и не определяется туристскими фирмами, организующими
  туристскую деятельность.
</div>

<div> Самодеятельной спортивный туризм, имеющий разнообразные и весьма ценные воспитательные функции, не может влиять на
  экономику региона, так как число спортивных туристов мало, и им не требуется какая-либо дорогостоящая туристская
  инфраструктура.
</div>

<div> Таким образом, обобщенный анализ показывает, что туризм в качестве фактора, стабилизирующего экономическую
  обстановку в регионе, может рассматриваться только для незначительного числа субъектов Российской Федерации, в которые
  въезжают большие массы туристов из других регионов. Это определяется уникальными оздоровительными и лечебными
  свойствами местности, природными и историко-культурными достопримечательностями международного значения при условии
  развитой современной туристской индустрией.
</div>

<div> Перспективы развития высокоэффективной туристской отрасли хозяйства в других регионах, не обладающих столь
  значительным потенциалом, весьма проблематичны. Не может вся Россия, как и преобладающее большинство стран в мире,
  стать процветающей туристской дестинацией. Туристские ресурсы следует оценивать так же, как и другие природные
  ресурсы: минеральные, почвенные, лесные, агроклиматические. Только при наличии достаточного их количества и высокого
  качества может развиваться соответствующая отрасль экономики региона. Это необходимо учитывать, если туризм
  предлагается объявить одной из приоритетных отраслей экономики края.
</div>


<div class="questions">
  <div>Контрольные вопросы к модулю «Региональные рекреационные исследования»</div>

  <div>1. Каким территориям посвящено большинство региональных рекреационных исследований?</div>

  <div>2. Какие регионы страны привлекают туристов из других субъектов Российской Федерации?</div>

  <div>3. Назовите центры по изучению туристско-рекреационной деятельности, сформировавшиеся в нашей стране.</div>

  <div>4. Можно ли туризм повсеместно в российских регионах рассматривать как одно из условий устойчивого развития
    территории?
  </div>
</div>