<div>Значок члена РОТ</div>

<%= article_image_tag("image002.jpg") %>
<div>&nbsp;</div>

<div> Существовали
еще памятные жетоны РОТ, которыми награждались его члены, набравшие наибольшее
число зачетных баллов за участие в коллективных поездках, организуемых
комитетами Общества.</div>

<div> Российское
общество туристов являлось самым крупным в Российской империи из добровольных
объединений любителей путешествий. Наибольшее число членов Общества – 2061
человек - насчитывалось в 1903 г. (Долженко, 1988).</div>

<div>&nbsp;</div>