<div>Электронное учебное пособие «Развитие научных исследований туристской деятельности в России: 1930 - 2010 гг.»
  представляет собой обязательный литературный источник новой учебной дисциплины «История и методология туризмоведения»,
  включенной в 2010 г. в учебный план специальности 100 201 «Туризм» на геолого-географическом факультете Южного
  федерального университета.
</div>
<div>Впервые в отечественной литературе, как научного, так и учебного характера, в пособии представлено развитие научных
  исследований в области туризма в СССР и Российской Федерации за 80 лет, начиная с первых работ Центрального
  государственного института курортологии по изучению физиологии туристских путешествий с активными средствами
  передвижения.
</div>
<div>Авторы рассматривают как происходило развитие в изучении экономических и исторических аспектов туризма, становление
  и эволюцию рекреационной географии, современные прикладные научно-исследовательские направления работ в целях
  дальнейшего совершенствования российской индустрии туризма.
</div>
<div>Учебное пособие может быть использовано как студентами, обучающимися по специальности «Туризм», так и по
  специальности «Социально-культурный сервис и туризм» при изучении дисциплин «Основы туризма» и «История туризма».
</div>
