<div>В 1975 г. Центральный совет по туризму и экскурсиям ВЦСПС создает в Москве Всесоюзную научно-исследовательскую
  лабораторию туризма и экскурсий, ставшую главным научным центром в стране по изучению туризма. Учреждение лаборатории
  было связано с бурным ростом в начале 70-х гг. всех показателей туризма и необходимости серьезного научного
  обоснования его дальнейшего развития.
</div>

<div> В период 1971 – 1975 гг. ежегодно объем оказываемых услуг населению страны увеличивался на одну треть. В 1975 г.
  было обслужено 25,4 млн туристов, свыше 130 млн экскурсантов, совершено около 10 тыс. железнодорожных туристских
  рейсов, почти 24 тыс. авиарейсов, свыше 200 тыс. автобусных путешествий, число турбаз достигло 943, а число мест в них
  более 300 тыс. В стране действовало 140 советов по туризму и экскурсиям, 575 бюро путешествий и экскурсий (Абуков,
  1978).
</div>

<div> Созданная лаборатория изучала туристскую деятельность в стране по широкому кругу проблем. Проводились
  социологические и статистические исследования, велась разработка правового статуса туристских территорий, принципов
  составления кадастра рекреационных ресурсов, начали разрабатываться стандарты в сфере туризма. Были подготовлены
  методические основы создания перспективных схем развития туризма в республиках, краях и областях и др.
</div>

<div> Одним из отделов, который на новом уровне возобновил работы, начатые кабинетом туризма Государственного
  центрального института курортологии в 30-е гг., был отдел физиологии туризма. Его сотрудники изучили
  восстановительно-оздоровительную результативность почти 70 вариантов проведения отпускного времени во всех
  климатических зонах Советского Союза в разные сезоны года. Было тщательно обследовано более 2 тыс. отдыхающих на
  туристских базах, в домах отдыха, пансионатах и гостиницах и показано, что решающим фактором в восстановлении
  здоровья, расширении функциональных резервов организма во время отдыха является уровень двигательной активности.
  Оптимум интенсивности двигательной активности человека должен равняться 1200-1800 ккал в день. На основе многократных
  медицинских наблюдений были определены оптимальные нагрузки в туристских походах (табл. 1).
</div>


<div class="table" id="optimalnie-nagruzki">
<h6>
  Таблица 1 Параметры оптимальных нагрузок дневной ходьбы в походах, рекомендуемых для учреждений туризма (Сергеев,
  1987) </h6>
<table>
<tr>
  <td rowspan="2">
    Медицинские группы туристов
  </td>
  <td rowspan="2">
    Ходовая скорость движения, км/ч
  </td>
  <td colspan="2">
    Протяженность в км, всего за день
  </td>
  <td rowspan="2">
    Остановки для отдыха
  </td>
</tr>
<tr>
  <td>
    Первый день
  </td>
  <td>
    Последующие дни
  </td>
</tr>
<tr>
  <td colspan="5">
    Ходьба по пересеченной местности с уклоном в 15&#730;
  </td>
</tr>
<tr>
  <td colspan="5">
    Движение без рюкзака или с весом его до 5 кг
  </td>
</tr>
<tr>
  <td>
    1*
  </td>
  <td>
    3,0-3,3
  </td>
  <td>
    12-16
  </td>
  <td>
    14-20
  </td>
  <td>
    Через 50 мин
  </td>
</tr>
<tr>
  <td>
    2**
  </td>
  <td>
    2,5-3,8
  </td>
  <td>
    10-14
  </td>
  <td>
    12-16
  </td>
  <td>
    40 мин
  </td>
</tr>
<tr>
  <td>
    3***
  </td>
  <td>
    2,0-2,5
  </td>
  <td>
    9-10
  </td>
  <td>
    8-12
  </td>
  <td>
    30 мин (по 10 мин)
  </td>
</tr>
<tr>
  <td colspan="5">
    Движение с рюкзаком весом в 10 кг
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    2,5-3,5
  </td>
  <td>
    10-14
  </td>
  <td>
    12-16
  </td>
  <td>
    Через 40 мин
  </td>
</tr>
<tr>
  <td>
    2
  </td>
  <td>
    2,0-3,0
  </td>
  <td>
    8-10
  </td>
  <td>
    10-14
  </td>
  <td>
    30 мин
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td>
    2,0-2,5
  </td>
  <td>
    6-10
  </td>
  <td>
    7-10
  </td>
  <td>
    20 мин (12 мин)
  </td>
</tr>
<tr>
  <td colspan="5">
    Движение с рюкзаком весом в 20 кг
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    2,5 (от 2,0 до 3,0)
  </td>
  <td>
    От 8 до 12
  </td>
  <td>
    10-14
  </td>
  <td>
    Через 30 мин
  </td>
</tr>
<tr>
  <td>
    2 (индивид.)
  </td>
  <td>
    2,3 (от 2,0 до 2,5)
  </td>
  <td>
    От 6 до 8
  </td>
  <td>
    6-10
  </td>
  <td>
    20 мин (по 15 мин)
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td colspan="4">
    Не рекомендуется
  </td>
</tr>
<tr>
  <td colspan="5">
    Движение с рюкзаком весом в 30 кг
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    2,0 (от 1,8 до 2,0)
  </td>
  <td>
    8-10
  </td>
  <td>
    10-12
  </td>
  <td>
    Через 20 мин (по 20 мин)
  </td>
</tr>
<tr>
  <td>
    2
  </td>
  <td colspan="4">
    Не рекомендуется
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td colspan="4">
    Противопоказано
  </td>
</tr>
<tr>
  <td colspan="5">
    Ходьба по сильно пересеченной местности или с уклоном в 30&#730;
  </td>
</tr>
<tr>
  <td colspan="5">
    Без рюкзака или с весом его до 5 кг
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    1,4-1,7
  </td>
  <td>
    10-12
  </td>
  <td>
    12-16
  </td>
  <td>
    45 мин
  </td>
</tr>
<tr>
  <td>
    2
  </td>
  <td>
    1,0-1,4
  </td>
  <td>
    6-8
  </td>
  <td>
    10-12
  </td>
  <td>
    30 мин
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td>
    1,3-1,1
  </td>
  <td>
    4-6
  </td>
  <td>
    Без груза
  </td>
  <td>
    20 мин (по 12 мин)
  </td>
</tr>
<tr>
  <td colspan="5">
    С рюкзаком весом в 10 кг
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    1,4-1,6
  </td>
  <td>
    8-10
  </td>
  <td>
    10-12
  </td>
  <td>
    Через 30-40 мин
  </td>
</tr>
<tr>
  <td>
    2 (индивид.)
  </td>
  <td>
    1,2-1,4
  </td>
  <td>
    4-6
  </td>
  <td>
    8-10
  </td>
  <td>
    20 мин (по 15 мин)
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td colspan="4">
    Не рекомендуется
  </td>
</tr>
<tr>
  <td colspan="5">
    С рюкзаком весом в 20 кг
  </td>
</tr>
<tr>
  <td>
    1
  </td>
  <td>
    1,2 (от 1,1 до 1,3)
  </td>
  <td>
    6-8
  </td>
  <td>
    8-10
  </td>
  <td>
    Через 20-30 мин
  </td>
</tr>
<tr>
  <td>
    2
  </td>
  <td colspan="4">
    Не рекомендуется
  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td colspan="4">
    Противопоказано
  </td>
</tr>
</table>
</div>

<div>* 1 – лица основной медицинской группы.</div>

<div>** 2 – лица подготовительной группы.</div>

<div>*** 3 – лица специальной группы.</div>

<div> Рекомендации норм нагрузок в туристских походах, разработанные отделом физиологии туризма Всесоюзной
  научно-исследовательской лабораторией туризма и экскурсий, стали основой при подготовке туристских мероприятий на всех
  туристских базах Советского Союза. Кроме того, научными сотрудниками отдела были подготовлены рекомендации по
  самоконтролю участников путешествий за состоянием своего здоровья в туристских походах, питанию в походах,
  гигиеническим требованиям и др. Туризм в нашей стране получил добротный научный фундамент.
</div>

<div class="questions">
  <div>Контрольные вопросы к модулям «Исследования Государственного Центрального института курортологии в 30-е гг. XX
    в.» и «Результаты исследований ВНИЛТЭ в 1970-е годы.»
  </div>

  <div>1. Почему научные исследования в области туризма были начаты с изучения физиологических основ туризма с активными
    средствами передвижения?
  </div>

  <div> 2. Назовите виды и районы исследований, проведенные учеными в 30-е гг.?</div>

  <div>3. Каковы практические результаты, проведенных научных исследований в 30-е и 70-е гг.?</div>


</div>