<div> Исследования
туристской деятельности не исчерпываются теми направлениями, которые
освещены в настоящем учебном пособии. Научные и научно-практические работы
ведутся сегодня в сфере правовых вопросов туризма, педагогики и психологии в
туристской деятельности, архитектуры мест массового отдыха, безопасности
туризма, методических аспектов экскурсионного дела, туристской картографии,
подготовки кадров и др. Активно изучаются все грани многостороннего и бесконечного
туризма. </div>