<div>биоклиматология - фонзеленоватый</div>

<div>
  Наталья Анатольевна Данилова,
</div>

<div>кандидат географических наук (Москва)</div>

<div>«Климат и тепловой баланс тела человека»</div>

<div>(раздел монографии «Климат и отдых в нашей стране». М.: 1980)</div>

<div>«Парацельс — великий врач XVI в.— говорил: «Тому, кто изу­чил ветры, молнии и погоду, известно происхождение
  болезней», имея в виду влияние комплекса метеорологических факторов на тело человека.
</div>

<div>Разберемся в этом более подробно.</div>

<div>Воздействие климатических факторов на организм проявля­ется прежде всего в его теплообмене с окружающей средой. С
  од­ной стороны, процесс теплообмена находится под общим коррегирующим влиянием коры больших полушарий головного мозга
  и тем самым определяется физиологическими параметрами. С дру­гой — этот процесс является физическим и подчиняется
  основ­ным законам термодинамики, сформулированным впервые не­мецким врачом Мейером еще в 1848 г.
</div>

<div>По современным воззрениям, организм человека представ­ляет собой термодинамическую систему с высоким постоянством
  внутренней температуры, несмотря на значительно меняющиеся условия поступления тепла из окружающей среды и потери
  тепла телом человека. По образному выражению И. С. Кандрора (1974): «Климат входит в организм через кожу». Солнечная
  радиация и температура воздуха вызывают раздражение кожных рецепторов, передающееся коре головного мозга. Температура
  влияет на глубину и частоту дыхания, на скорость кровотока, на характер кроветворения, на снабжение кислородом тканей
  и клеток и, следовательно, на интенсивность окислительных процессов, на углеводный, солевой, липидный и водный обмен,
  на мышечный тонус ит. д.
</div>

<div>Изменениям температуры воздуха сразу отвечают изменения в биохимических процессах, протекающих в клетках, что
  обуслов­ливает определенные размеры выработки тепла в организме и отдачу его в окружающую среду для поддержания
  температуры внутренних органов на нужном уровне.
</div>

<div>Многочисленные исследования физиологов подтверждают, что температура кожи служит объективным показателем теплового
  состояния человека. При этом экспериментально доказано, что для теплого периода года температура кожных покровов,
  вычис­ленная по методу теплового баланса, незначительно отличается от таковой, измеренной в природной обстановке. Это,
  несомнен­но, подтверждает возможность применения в исследованиях (при теплых погодах) расчетного теплобалансового
  метода.
</div>

<div>И. П. Павлов писал, что «можно с правом органы теплокров­ного животного делить на две группы: органы с постоянно
  высокою температурой и органы с меняющейся температурой, спус­кающейся иногда гораздо ниже уровня внутренней. Не может
  не быть физиологической разницы между тканями внутренних полос­тей, которые представляют дневное температурное
  колебание самое большое в 1°, и тканями и органами кожи, температура ко­торых может колебаться безнаказанно в пределах
  10—20 и более градусов».
</div>

<div>Внутренние органы составляют приблизительно половину ве­са тела. Когда человек здоров и условия окружающей среды не
  требуют чрезмерного напряжения его терморегуляторных систем, внутренняя температура сохраняется постоянной, пока не
  про­изойдет значительных изменений во внешней среде. Но достаточ­но организму подвергнуться воздействию высоких
  температур воздуха, как происходит его перегрев и температура внутрен­них органов повышается. При длительных суровых
  похолоданиях температура внутренних органов, наоборот, понижается. В том и в другом случае происходит сильное
  напряжение терморегулятор­ных механизмов организма человека, что отрицательно сказыва­ется на его здоровье.
</div>

<%= article_image_tag "table.png" %>

<div>Зависимость физического состояния организма человека от термических условий окружающей среды показана в табл. 2. По
  ней можно проследить температурный режим внешней части че­ловеческого тела. Он резко отличен от такого же режима
  внутрен­них органов. И. С. Кандрор внешние части называет «тепловым шлюзом» организма, где тепло может
  сосредоточиваться или рас­ходоваться без заметного изменения температуры глубоких слоев тела и без вреда для здоровья.
</div>

<div>В холод и жару терморегуляторные системы организма человека испытывают напряжение, которое выражено тем больше, чем
  ниже или выше некоторого предела температуры воздуха. В пределах определенных градаций температур воздуха организм
  человека испытывает тепловой комфорт. При таких условиях напряжении терморегуляторного аппарата достигает минимума. С
  нашей точки зрения, летняя рекреационная деятельность возможна при пого­дах, приводящих к минимальному и слабому
  напряжению термо­регуляторного аппарата, когда нет никаких патологических реак­ций (см. табл. 2).
</div>

<div>При низкой температуре организм стремится увеличить вы­работку тепла (в определенных условиях он может даже ее
  уд­воить) и уменьшить отдачу его с поверхности кожного покрова. При этом благодаря сужению поверхностных кровеносных
  сосу­дов к внешним тканям поступает меньше тепла от внутренних частей организма и температура кожи понижается. В этом
  слу­чае разность между температурой кожных покровов и внешней средой уменьшается. Это приводит в первую очередь к
  умень­шению такой статьи расхода, как излучение с поверхности тела человека.
</div>

<div>При холодных погодах и небольшом приходе солнечного тепла на первый план выступает процесс отдачи тепла телом
  человека путем конвекции. Такие теплопотери (до известной степени) регулируются применением одежды и выполнением
  физической работы определенной трудности, при которой возрастает тепло­продукция организма. Затраты же на испарение
  пота в таких условиях очень малы. Указанные приспособительные процессы могут снижать теплопотери организма весьма
  значительно — до 70%. При особенно сильном действии холода трудоспособность че­ловека резко снижается и развиваются
  такие патологические реак­ции, как обморожение (см. табл. 2), именно о них говорилось выше при разборе оценок
  Адаменко—Хайруллина для зимних условий.
</div>

<div>В жару, когда организму приходится бороться с перегревом, он приспосабливается к условиям окружающей среды другими
  способами. В жаркую погоду происходит рефлекторное расшире­ние сосудов кожи. Дыхание становится учащенным и
  поверхност­ным, возрастает частота сердечных сокращений. Температура кожи повышается, вследствие чего возрастает
  потеря излучением. Охлаждение организма достигается в основном испарением пота, которое происходит с большой затратой
  внутренней энергии. Все эти изменения приводят к удвоенной по сравнению с холодной погодой потере тепла организмом.
</div>

<div>Увеличение испарения пота при повышении температуры воз­духа служит показателем нарастающего напряжения
  терморегуляторных систем организма. Потоотделение при особенно жаркой погоде может превышать 750 г/ч. Степень
  напряжения, возни­кающего при жаре в организме человека, Б. А. Айзенштат оцени­вает с помощью «фактора М», который
  равняется процентному отношению фактической отдачи тепла потоотделением к макси­мально возможной отдаче при тех же
  метеорологических условиях. «Фактор М», равный 50—60%, уже приводит к перегреву орга­низма человека.
</div>

<div>При очень высокой температуре воздуха, например, летом в пус­тыне Каракумы трудоспособность человека резко падает,
  ухудша­ется его самочувствие, могут наступать патологические реакции, а в крайних случаях происходит тепловое
  истощение, представля­ющее серьезную опасность для самой жизни человека.
</div>

<div>Заканчивая разбор данных табл. 2, необходимо заметить, что реакция организма на жару и холод не одинакова у местных
  жите­лей и неакклиматизировавшихся приезжих, что приходится учи­тывать при определении климатических критериев
  теплового воз­действия окружающей среды на человека.
</div>

<div>Один из способов такой оценки заключается в определении теплового баланса его тела. Основная идея этого метода
  состоит в том, что для поддержания термостабильного состояния необхо­димо равновесие между теплообразованием и
  притоком тепла, с од­ной стороны, и теплопотерями — с другой.
</div>

<div>Тогда
  <i>Н+М=Р+LЕ+LЕ<sub>Л</sub>+Р<sub>Л</sub></i>,
</div>

<div>где R — радиационный баланс организма; М — теплопродук­ция организма; Р — турбулентный теплообмен (конвекция); LE —
  затрата тепла на испарение пота; LЕ<sub>Л</sub> — затрата тепла на испарение воды с поверхности легких; Р<sub>Л</sub> — альвеолярный
  теплообмен.
</div>

<div>Если теплоотдача (правая часть уравнения) будет больше (мень­ше) теплопродукции и радиационного прихода (левая
  часть урав­нения), то соответственно снизится (повысится) теплосодержание организма и тем самым изменится температура
  внутренних частей тела, что повлечет за собой изменение физиологического градиента температуры между внутренними и
  внешними частями тела. Это в свою очередь приведет к изменению температуры кожи и потоот­деления. Такой процесс
  совершается непрерывно, и равновесие никогда не успевает установиться.
</div>

<div>Как следует из приведенной формулы теплового баланса тела человека, все члены уравнения включают характеризующие
  внешнюю среду параметры, значимость которых совершенно раз­лична в зависимости от времени года (погоды) и от
  ландшафта.
</div>

<div>При низких температурах воздуха Р является основной частью теплопотерь телом человека, а при высоких температурах
  на пер­вый план выступают большие по значению LE и R.
</div>

<div>Как известно, прием солнечных ванн — неотъемлемая часть занятий летнего отдыха и туризма. Б. А. Айзенштат рассчитал
  влагопотери испарением пота для различных физико-географи­ческих условий во время их приема в летнее время. Они
  равня­ются (в г/ч) соответственно: в Ленинграде — 40, Смоленске — 60, Киеве и Куйбышеве — 210 (одинаково) и для
  сравнения в Таш­кенте — 700, а в Термезе — 950. Таким образом, если на севере европейской части Союза потери тепла
  организмом на испарение пота почти отсутствуют, то на юге среднеазиатских пустынь (Тер­мез) они составляют около литра
  в час. Эта величина почти экви­валентна 550 ккал/ч, что приблизительно в семь раз превышает теплопродукцию организма в
  состоянии покоя (80 ккал/ч). Из этого следует, что в пустыне летняя жара дает такое поступление тепла из окружающей
  среды, которое приводит к чрезмерному перенапряжению функциональных систем организма. В таких условиях прием солнечных
  ванн совершенно исключается.
</div>

<div>Предложенная Б. А. Айзенштатом методика позволяет устано­вить, что в летнее время на европейской части СССР (в
  северных районах) требуется дополнительный приток тепла к телу человека. Он осуществляется применением одежды или
  обогреванием (Ле­нинград, Рига). Этого не требуется южнее (Минск, Смоленск, Куй­бышев, Киев), где летние температуры
  воздуха выше и нет столь отрицательно сказывающихся на состоянии человека сильных ветров, например, таких, как на
  Рижском взморье.
</div>

<div>В летнее время в средней и южной полосе европейской тер­ритории Союза поток радиационного и турбулентного тепла из
  окружающей среды к телу человека избыточен. Он приводит к усиленному потоотделению. Поэтому летняя одежда туриста и
  отдыхающего должна быть максимально свободной и легкой, что­бы не препятствовать оттоку тепла с поверхности тела путем
  испарения пота. В этих частях страны обычно нет необходимости защищаться от охлаждающего влияния ветра в летнее время,
  что существует, например, в Прибалтике.
</div>

<div>В весеннее и осеннее время на всей рассматриваемой территории приток тепла из окружающей среды к телу человека уже
  недос­таточен, следовательно, требуется применение одежды с опре­деленными теплозащитными свойствами, препятствующими
  оттоку тепла от его тела. Так, в Ленинграде в апреле теплозащитные свойства одежды должны обеспечить человеку,
  находящемуся на открытом воздухе, сохранение или приток тепла, равный 430 ккал/ч, в октябре — 517 ккал/ч и т. д.
  Весной и осенью туристы и отды­хающие должны пользоваться искусственными источниками тепла (костры, укрытия, палатки).
</div>

<div>Приведенные цифры свидетельствуют, что в рекреационной практике следует учитывать усиление теплового воздействия
  окру­жающей среды на человека с севера на юг и с запада на восток, существующие в теплый период года».
</div>