<div>В последние годы все большее внимание уделяется сельскому, или, как его еще называют, «зеленому» туризму. В
  качестве примера укажем на ряд публикаций по данной тематики, входящих в исследуемый нами статистический блок
  (Едокимов, Кожевников, 2006, Ляпина, 2005). Во всех приведенных статьях авторами анализируется сельский туризм, под
  чем понимается временное проживание туристов из городов в сельской местности со знакомством с бытом и традициями
  данной территории, с участием в сельском труде, в местных праздниках.
</div>

<div>Большое исследование особенностей развития сельского туризма провела Международная туристская академия. Ученые
  рассмотрели правовые вопросы функционирования сельского туризма в России, создания специализированной инфраструктуры,
  подготовку кадров для нужд сельского туризма, систему сертификации услуг и др. МТА подготовлено «Практическое
  руководство по организации сельского туризма», в котором описывается вся технология создания и функционирования
  конкретного хозяйствующего субъекта на рынке сельского туризма согласно действующему законодательству.
</div>

<div>Начало развитию сельского туризма уже положено в Карелии, Тверской, Ярославской, Ивановской, Тульской, Смоленской и
  других областях, расположенных в непосредственной близости от Московского региона, в Калининградской области и
  Приморском крае, Горном Алтае, Ростовской области, Краснодарском крае и др. регионах России. По всей стране идет
  становление сельского туризма, но потоки его пока невелики.
</div>

<div>Основной причиной медленного роста количественных показателей, характеризующих сельский туризм в России, по всей
  вероятности, можно считать тесную связь жителей городов с сельскими гражданами. По крайней мере, 50% горожан имеют
  ближних или дальних родственников, проживающих на селе, к которым они периодически выезжают отдыхать, отправляют детей
  в каникулярное время. И для них нет необходимости в организованном сельском туризме. Данный вид отдыха может быть
  классифицирован как самодеятельный сельский туризм, объемы которого чрезвычайно велики в сравнении с организованным
  туризмом.
</div>

<div>Государственное значение организованного сельского туризма неоспоримо. Благодаря ему могут обрести новую жизнь
  населенные пункты в качестве туристских центров, появиться сезонные рабочие места для жителей села. Широкое развитие
  сельского туризма положительно повлияет на предпринимательскую деятельность в сфере туризма, а также вызовет рост
  рынка сбыта для местной сельхозпродукции и др. Социальные последствия развития сельского туризма могут быть
  чрезвычайно значимы.
</div>

<div>Но для его становления в том или ином регионе необходима реализация следующих основных мероприятий:</div>

<div>- государственная поддержка хозяйств, развивающих сельский туризм;</div>

<div>- участие региональных администраций в формировании движения сельского туризма;</div>

<div>- нормативное и рекламное обеспечение сельского туризма.</div>

<div>В настоящее время следует рассмотреть также развитие самостоятельных туристских фирм в сельских населенных пунктах.
  Они также как и городские фирмы могли бы организовывать туристские поездки, экскурсии для жителей своего и окрестных
  поселений.
</div>

<div>Данный вид туристского сервиса уже ряд лет успешно развивается в станице Павловской Краснодарского края. Без
  изучения опыта работы данной сельской туристской фирмы тема «Сельский туризм» не будет раскрыта полностью.
</div>

<div>Павловский район расположен на севере Краснодарского края и имеет выгодное туристско-географическое положение.
  Территория района характеризуется выравненностью рельефа, отсутствием больших рек и значительных озер, повсеместно
  распахана. В ее пределах отсутствуют природные и историко-культурные туристские ресурсы федерального значения. Все
  памятники архитектуры, монументы над братскими могилами советских воинов имеют местное значение.
</div>

<div>Но с туристской точки зрения недостатки исследуемой территории компенсируются благоприятным
  туристско-географическим положением при ее оценки для организации отдыха местных жителей вне пределов района.
</div>

<div>Станица Павловская расположена в двухчасовой транспортной доступности (автобусным и железнодорожным транспортом) от
  Ростова-на-Дону, Краснодара и курорта Ейска на Азовском море, в четырехчасовой доступности от Анапы, Туапсе и горных
  кавказских территорий Адыгеи, т.е. вблизи крупных административных и культурных центров Юга России, а также популярных
  в стране мест отдыха и лечения.
</div>

<div>Население станицы составляет 30 тыс. чел., из которых более 46% относится к категории трудоспособного.
  Демографическая ситуация в Павловском районе практически идентична в целом по стране. Наиболее активным туристским
  контингентом являются учащиеся среднего и старшего школьного возраста. В разные годы они имеют общую численность
  800-1100 чел.
</div>

<div>Степень туристской активности граждан напрямую зависит от уровня их благосостояния. О нем в первом приближении
  можно судить по среднемесячной заработной плате наемных работников. В Павловском районе она равнялась в 2005 г. – 4625
  руб., в 2006 г. – 5695 руб., в 2007 г. -7508 руб.
</div>

<div>Об уровне благосостояния жителей Павловского района свидетельствует также и число личных автомобилей. Их, по данным
  ГИБДД, в районе в 2008 г насчитывалось более 10 тыс., в том числе в станице Павловской более 9 тыс. Автомобили активно
  используются в самодеятельных туристских путешествиях к морю и в горы.
</div>

<div>Изучение мотивов туристских путешествий жителей станицы Павловской исследовалось по аналогии с подобными работами,
  проводимыми кафедрой общей географии, краеведения и туризма ЮФУ
</div>

<div>(Белорусова, 2005; Шмыткова, 2008). На вопросы анкеты ответило 60 клиентов туристского агентства «Ирина-тур»,
  работающего в станице. Результаты изучения мотивов путешествий представлены в табл. 7.
</div>

<div class="table">
<h6>Таблица 7 Мотивация путешествий клиентов туристских фирм Ростова-на-Дону и турагентства «Ирина-тур» в станице
  Павловской</h6>


<table>
<tr>
  <td rowspan="2">
    Мотивация
  </td>
  <td colspan="2">
    Ростов-на-Дону
  </td>
  <td colspan="2">
    «Ирина-тур»
  </td>
</tr>
<tr>
  <td>
    Муж. %
  </td>
  <td>
    Жен. %
  </td>
  <td>
    Муж. %
  </td>
  <td>
    Жен. %
  </td>
</tr>
<tr>
  <td>
    Просто отдыхать, ни о чем не думая, расслабляться
  </td>
  <td>
    73
  </td>
  <td>
    58
  </td>
  <td>
    60
  </td>
  <td>
    51
  </td>
</tr>
<tr>
  <td>
    Знакомство с новой культурой и образом жизни, едой и обычаями
  </td>
  <td>
    36
  </td>
  <td>
    42
  </td>
  <td>
    41
  </td>
  <td>
    60
  </td>
</tr>
<tr>
  <td>
    Увидеть достопримечательности, явления природы, красивые виды и пейзажи, национальные парки
  </td>
  <td>
    33
  </td>
  <td>
    52
  </td>
  <td>
    20
  </td>
  <td>
    42
  </td>
</tr>
<tr>
  <td>
    Знакомство с историческими и культурными памятниками
  </td>
  <td>
    28
  </td>
  <td>
    40
  </td>
  <td>
    30
  </td>
  <td>
    34 &nbsp;
  </td>
</tr>
<tr>
  <td>
    Оздоровительные, лечебные цели
  </td>
  <td>
    20
  </td>
  <td>
    20
  </td>
  <td>
    42
  </td>
  <td>
    53 &nbsp;
  </td>
</tr>
<tr>
  <td>
    Знакомство с развлечениями, ночной жизнью, возможность посетить хорошие рестораны, клубы и т.п.
  </td>
  <td>
    20
  </td>
  <td>
    15
  </td>
  <td>
    14
  </td>
  <td>
    8
  </td>
</tr>
<tr>
  <td>
    Посещение исторических музеев
  </td>
  <td>
    18
  </td>
  <td>
    17
  </td>
  <td>
    14
  </td>
  <td>
    15
  </td>
</tr>
<tr>
  <td>
    Посещение музеев изобразительных искусств
  </td>
  <td>
    14
  </td>
  <td>
    20
  </td>
  <td>
    14
  </td>
  <td>
    15
  </td>
</tr>
<tr>
  <td>
    Посещение карнавалов, фестивалей, национальных праздников
  </td>
  <td>
    13
  </td>
  <td>
    17
  </td>
  <td>
    19
  </td>
  <td>
    23
  </td>
</tr>
<tr>
  <td>
    Встречи с новыми интересными людьми
  </td>
  <td>
    12
  </td>
  <td>
    24
  </td>
  <td>
    6
  </td>
  <td>
    14
  </td>
</tr>
<tr>
  <td>
    Возможность вести другой образ жизни - получить на период отдыха высокий уровень обслуживания
  </td>
  <td>
    12
  </td>
  <td>
    22
  </td>
  <td>
    45
  </td>
  <td>
    47
  </td>
</tr>
<tr>
  <td>
    Шопинг
  </td>
  <td>
    12
  </td>
  <td>
    24
  </td>
  <td>
    4
  </td>
  <td>
    21
  </td>
</tr>
<tr>
  <td>
    Посещение известных театров, концертов
  </td>
  <td>
    8
  </td>
  <td>
    13
  </td>
  <td>
    36
  </td>
  <td>
    25
  </td>
</tr>
<tr>
  <td>
    Занятия спортом
  </td>
  <td>
    11
  </td>
  <td>
    7
  </td>
  <td>
    7
  </td>
  <td>
    3
  </td>
</tr>
</table>
</div>

<div> Анализ данных таблицы дает основания утверждать, что мотивации туристских поездок горожан и селян в незначительной
  степени отличаются друг от друга. Большинство обследованных граждан, находясь в отпуске, хотят «просто отдыхать, ни о
  чем, не думая». Наибольший интерес к знакомству с новой культурой, различными достопримечательностями проявляют
  женщин. Как у мужчин, так и у женщин села высок интерес к турам оздоровительного характера, что вполне объяснимо
  дефицитом в станице высококачественного лечения, особенно узкоспециализированного.
</div>

<div> У сельских жителей отмечается повышенный интерес к получению на период отдыха высокого уровня обслуживания, т.е.
  стремление к гедонистическому поведению, что может являться ответом на достаточно не легкую жизнь на селе, где слабо
  развита сфера обслуживания, и при организации быта нужно рассчитывать преимущественно на собственные силы.
</div>

<div> Был выявлен низкий интерес у жителей села к спортивным занятиям во время отпуска, который не высок и у горожан.
  Это еще раз показывает, насколько слабо проникла физическая культура в жизнь российского общества, особенно в сельской
  местности.
</div>

<div> Исследования кафедры общей географии, краеведения и туризма убедительно показали, что туры для городских и для
  сельских жителей не должны отличаться друг от друга.
</div>

<div> Мотивация путешествий непосредственно влияет на выбор места, как для долговременного, так и кратковременного
  отдыха туристов (табл. 8).
</div>

<div class="table">
  <h6> Таблица 8 Рейтинг мест долговременного отдыха, предпочитаемых жителями Ростова-на-Дону и станицы Павловской</h6>

  <table>
    <tr>
      <td>
        Места долговременного отдыха
      </td>
      <td>
        Ростов-на-Дону %
      </td>
      <td>
        Павловская %
      </td>
    </tr>
    <tr>
      <td>
        На море
      </td>
      <td>
        83
      </td>
      <td>
        86
      </td>
    </tr>
    <tr>
      <td>
        В горах зимой
      </td>
      <td>
        23
      </td>
      <td>
        24
      </td>
    </tr>
    <tr>
      <td>
        В горах летом
      </td>
      <td>
        20
      </td>
      <td>
        31
      </td>
    </tr>
    <tr>
      <td>
        На реке, озере
      </td>
      <td>
        19
      </td>
      <td>
        3
      </td>
    </tr>
    <tr>
      <td>
        В лесном регионе летом
      </td>
      <td>
        16
      </td>
      <td>
        4
      </td>
    </tr>
    <tr>
      <td>
        В лесном регионе зимой
      </td>
      <td>
        6
      </td>
      <td>
        2
      </td>
    </tr>
    <tr>
      <td>
        В городах
      </td>
      <td>
        16
      </td>
      <td>
        1
      </td>
    </tr>
  </table>

</div>
<div> Как и горожане, селяне в своем большинстве предпочитают для отдыха побережья теплых морей, где создана туристская
  инфраструктура и можно проводить время «не думая ни о чем». Главной дестинацией для жителей станицы как для
  долговременного, так и кратковременного отдыха является Черноморское побережье Краснодарского края.
</div>

<div> Туристскую деятельность в Павловском районе организует туристская фирма «Ирина-тур», объединившая существовавшие
  ранее в Павловской небольшие турагенства «Лайт-тур», «Путешествие» и «Класс-тур».
</div>

<div> Свою работу оно начало с заключения агентских договоров с туроператорами Краснодара и Ростова-на-Дону и продажу
  различных туров жителям не только станице Павловской, но и других поселений района. За год агентство «Ирина-тур»
  создало значительный пакет предложений и зарекомендовала себя перед туроператорами как стабильно функционирующая
  туристская агентская организация.
</div>

<div> В 2005 г. агентство провело первую подготовленную своими силами обзорную экскурсию по Краснодару, для чего был
  заключен договор на аренду автобуса с транспортной компанией станицы Павловской, подготовлен свой групповод и заключен
  договор с краснодарским экскурсоводом. После этого «Ирина-тур» начало самостоятельно осуществлять экскурсионную
  деятельность.
</div>

<div> В 2006 г. агентство при помощи Павловского районного центра образования организовало школьные образовательные
  экскурсии, в которых приняло участие большое количество школьников средних и старших классов района. Представители
  общеобразовательных школ вошли в качестве агентов «Ирины-тур» в ее состав на общественных началах, но с правом
  рекламировать его деятельность, организовывать туристские группы и получать за это агентское финансовое
  вознаграждение. После активного участия школ в работе агентства количество проданных экскурсионных туров выросло на 14
  %.
</div>

<div>В 2007 г. в результате проведенных маркетинговых исследований станиц, сел и хуторов, а также населенных пунктов,
  расположенных в соседний районах в пределах радиуса действия телерадиокомпании «Тихорецк», и вовлечения их в сферу
  деятельности фирмы выросло число клиентской базы.
</div>

<div> В 2008 г. туристское агентство «Ирина-тур» обслужило 870 чел. (без учета школьников). Были организованы поездки на
  Черноморское побережье, в центры горного туризма Адыгеи и Ставропольского края, Крым, по городам центральной России.
  152 чел. побывали в зарубежных поездках. Для 37 групп школьников общей численностью около 800 чел. бюро организовало
  экскурсионные поездки по территории Краснодарского края.
</div>

<div> Изучение деятельности сельского туристского агентства «Ирина-тур» привело к следующим выводам:</div>

<ul>
  <li>в сельском населенном пункте может успешно функционировать туристское агентство. Но населенный пункт и находящиеся
    вблизи него другие сельские поселения должны иметь общую численность жителей не менее 30 тыс. чел. (для сравнения
    покажем: на одну туристскую фирму в Ростовской области в 2009 г. приходилось около 20 тыс. граждан). Это та
    минимальная критическая масса жителей, которая позволит агентству работать круглый год.
  </li>

  <li> Циклы сельскохозяйственных работ не представляют собой определяющего лимитирующего фактора в деятельности
    туристского агентства. Только период пика уборочной страды не позволяет механизаторам претендовать на отпуск.
    Устоявшееся мнение, что жители села не имеют возможностей отдыхать в связи с отсутствием свободного времени,
    опровергается деятельностью агентства «Ирина-тур», осуществляющую круглогодичную работу.
  </li>

  <li> Мотивация туристских путешествий селян незначительно отличается от мотиваций жителей городов. При формировании
    пакета предложений необходимо учитывать, что селяне, как и горожане во время отдыха предпочитают «просто отдыхать,
    ни о чем не думая», преобладающее их число склонно к проведению отдыха на море. Знакомство с
    достопримечательностями, культурными ценностями должно иметь подчиненное значение в программах туров.
  </li>

  <li> При разработке стратегии организации отдыха для жителей села следует учитывать, в первую очередь, качество
    средств размещения, возможность получения лечебно-оздоровительных процедур, наличие интересных развлекательных
    предложений.
  </li>
</ul>

<div> Сельская туристская фирма может быть не только агентом туроператоров городов, но и самостоятельно организовывать
  экскурсионные маршруты, как это делает «Ирина-тур». Кроме того, она имеет возможность стать туроператором по сельскому
  туризму, развивающемуся в настоящее время в России: выявить семьи, которые желают принять на отдых горожан, объяснить
  им их задачи, обязанности и права, как принимающей стороны, провести сертификацию жилых помещений, предназначенных для
  сдачи во временный наем туристам, прорекламировать туры с помощью городских партнерских туристских фирм и, наконец,
  принимать туристов и контролировать условия выполнения договора хозяевами средств размещения.
</div>

<div> Опыт работы туристской фирмы в станице Павловской показывает, что туристская деятельность на селе может быть столь
  же многогранна и плодотворна, как и в городе. При ее правильной организации число внутренних туристов в стране может в
  значительной степени возрасти.
</div>

<div class="questions">
  <div> Контрольные вопросы к модулю «Туризм в сельской местности»</div>

  <div>1. Дайте определение понятию «сельский туризм».</div>

  <div>2. Где в России начал развиваться сельский туризм?</div>

  <div>3. Отличаются ли мотивации туристских путешествий жителей сельской местности и горожан?</div>

  <div>4. Каковы основные условия деятельности сельской туристской фирмы?</div>

  <div>5. Ограничивающие факторы развитие сельского туризма в России.</div>
</div>