<div> Подавляющее число публикаций, касающихся теоретических вопросов рекреационной географии в современной научной
  географической литературе в стране, принадлежит Л.Ю. Мажар, профессору Смоленского гуманитарного университета (2006).
  В диссертационном исследовании на соискания ученой степени доктора географических наук «Территориальные
  туристско-рекреационные системы: геосистемный подход к формированию и развитию» (2009) ею обосновывается понятие такой
  научной категории как «территориальные туристско-рекреационные системы», в основу которых автором положено
  разработанное В.С. Преображенским в начале 70-х гг. представление о рекреационной системе как базовой модели,
  отражающей рекреационную деятельность любого уровня и характера, направленную на восстановление физических и духовных
  сил человека.
</div>

<div>Частный случай универсальной рекреационной системы представляет собой территориальная рекреационная система (ТРС).
  В качестве современного инварианта ТРС Л.Ю. Мажар рассматривает территориальную туристско-рекреационную систему
  (ТТРС), имеющую определенные отличия, заключающиеся в «конкретизации и «сужении» понятия «рекреация». Л.Ю. Мажар
  использует в своих работах определение «туристско-рекреационный» и считает, что в качестве предмета изучения
  рекреационной географии следует принять в настоящее время «туристско-рекреационную территориальную систему» (ТРТС).
</div>

<div> ТТРС - это совокупность элементов сферы рекреации и туризма, объединенных пространственными отношениями и
  взаимосвязями. «Туристско-рекреационный» вариант понятия характеризует в основном многогранную туристскую
  деятельность, но не исключая потребностей в отдыхе в процессе организации тура.
</div>

<div> Элементарный состав территориальной туристско-рекреационной системы, постулируемой Л.Ю. Мажар, состоит из
  нескольких подсистем: инфраструктурной, организационно-управленческой, природно-рекреационной, историко-культурной,
  рекреационно-деятельной (основная функциональная), материально-бытовой (проживание, питание), кадровой (обслуживающий
  персонал), потребительской (туристы) и др. Все подсистемы объединены прямыми и обратными связями, обеспечивающими
  целостность ТТРС. В самом общем виде принципиальная схема территориальной туристско-рекреационной системы представлена
  на рис. 16.
</div>

<%= article_image_tag "image033.jpg", :class => :illustration, :alt => "Рис. 16. Принципиальная схема территориальной туристско-рекреационной системы" %>

<div>Рис. 16. Принципиальная схема территориальной туристско-рекреационной системы</div>

<div>Подсистемы: П - потребительская (туристы), И - инфраструктурная, ОУ - организационно-управленческая, ПР -
  природно-рекреационная, ИК - историко-культурная, РД - рекреационно-деятельная (основная-функциональная), МБ -
  материально-бытовая (проживание, питание), К - кадровая (обслуживающий персонал)
</div>

<div>&nbsp;</div>

<div> Указанные в принципиальной схеме подсистемы носят обобщенный характер, что позволяет наполнять их реальным
  содержанием в зависимости от уровня иерархии и функционального характера ТТРС.
</div>

<div> Условия и факторы формирования территориальных туристско-рекреационных систем рассматриваются Л.Ю. Мажар с позиций
  геосистемного подхода в контексте взаимодействия «системы» и «среды». При этом «условия» являются внешними причинами,
  отражающими свойства среды, а «факторы» - внутренними причинами, отражающими свойства самой системы.
</div>

<div> По отношению к изучаемой ТТРС «средой» является природная геосистема и все территориальные системы (кроме ТТРС),
  входящие в общественную геосистему. «Средой» также являются и территориальные системы того же вида, находящиеся на
  более высоком иерархическом уровне, а также ТТРС, образованные за пределами изучаемой системы.
</div>

<div> «Факторы» представляют собой движущие силы формирования и развития ТТРС. Выделяются 15 групп факторов:
  геоториальные факторы (факторы местоположения), геополитические факторы, факторы кадрового обеспечения, а также
  туристско-рекреационные потребности человека, экономические, организационно-управленческие, инфраструктурные,
  материально-бытовые, социально-психологические, демографические, экологические, медико-санитарные,
  туристско-ресурсные, рекреационно-деятельностные, инновационные. Предлагаемый Л.Ю. Мажар вариант, содержащий 15 групп
  факторов, отличается высокой степенью детализации, что позволяет максимально учесть разнообразные факторы, влияющие на
  развитие туризма.
</div>

<div> Действия факторов имеют свои особенности проявления на разных уровнях ТТРС. Неповторимые сочетания факторов
  определяют особенности формирования ТТРС в различных регионах. Через сознательное или стихийное воздействие на те или
  иные факторы можно способствовать целенаправленному развитию системы.
</div>

<div> Л.Ю. Мажар выделяются четыре иерархических уровня ТТРС: мировой, национальный, региональный и локальный. ТТРС
  высшего иерархического уровня - мировая туристско-рекреационная система (МТРС) - во многом определяет всю
  туристско-рекреационную деятельность также в отдельных странах и регионах.
</div>

<div> Национальные туристско-рекреационные системы (НТРС) является ключевыми в иерархической соподчиненности систем
  данного вида. С одной стороны, они в своем взаимодействии определяют характер и уровень развития мировой
  туристско-рекреационной системы, а с другой, напрямую регулируют деятельность соответствующей сферы на региональном
  уровне.
</div>

<div> Региональные туристско-рекреационные системы в Российской Федерации (РТРС) рекомендуется изучать на уровне
  субъектов федерации, так как все они находятся в единой системе государственного управления и встроены в «вертикаль
  власти».
</div>

<div> На примере ТТРС Смоленской области была апробирована методика геосистемного анализа. Факторы формирования ТТРС
  Смоленской области, судя по оценке экспертов, характеризуются значительной дифференциацией по силе своего воздействия
  и свидетельствуют о возможности увеличения их влияния при соответствующих усилиях со стороны всех участников
  туристско-рекреационной деятельности.
</div>

<div> Экспертная оценка подсистем ТТРС Смоленской области показала, что наиболее высокого уровня в своем развитии
  достигла кадровая подсистема, немногим уступает ей природно-рекреационная и историко-культурная подсистемы. Все
  остальные подсистемы находятся на начальном этапе своего развития (рис. 17).
</div>

<%= article_image_tag "image034.gif", :class => :illustration, :alt => "Рис. 17. Уровень развития подсистем туристско-рекреационной системы Смоленской области" %>

<div>Рис. 17. Уровень развития подсистем туристско-рекреационной системы Смоленской области</div>

<div> Уровень развития: 1 - низкий, 2 - средний, 3 - высокий</div>

<div> В целом геосистемный анализ ТРС Смоленской области показал недостаточно высокий уровень ее развития и
  необходимость количественного и качественного улучшения каждой из подсистем через воздействие на соответствующие
  условия и факторы, что приведет к трансформации ТТРС. Оптимизация туристско-рекреационной деятельности и рациональное
  развитие РТРС возможны лишь при учете роли условий и факторов и целенаправленном изменении их влияния на трансформацию
  территориальной туристско-рекреационной системы.
</div>

<div class="questions">
  <div> Контрольные вопросы к модулю «Итоги теоретических исследований по рекреационной географии в Смоленском
    гуманитарном университете»
  </div>

  <div>1. Дать определение территориальной туристско-рекреационной системе ( по Л.Ю. Мажар).</div>

  <div>2. Какие подсистемы выделяет Л.Ю. Мажар в ТТРС?</div>

  <div>3. Что подразумевается под условиями и факторами формирования ТТРС?
  </div>

  <div>4. Какие иерархические уровни ТТРС выделяет Л.Ю. Мажар?</div>
</div>