<div> В 1972 г. увидела свет работа В.С. Преображенского, И.В. Зорина, Ю.А. Веденина «Географические аспекты
  конструирования новых типов рекреационных систем», а в 1975 г. научная общественность страны познакомились с
  коллективной монографией «Теоретические основы рекреационной географии» под редакцией профессора В.С. Преображенского.
  Эти две работы наметили тренд развития научных исследований в области рекреационной географии и туризма на два
  десятилетия вперед.
</div>

<div> В истории отечественной рекреационной географии особо выделяется период конца 60-х - начала 80-х гг. В это время
  интенсивно проводились полевые исследования, социологические опросы, проходили рекреационно-географические совещания.
  Шло развитие молодого научного направления «Рекреационной географии», которое было определено как научное направление
  в географии, изучающее территориальные закономерности и особенности деятельности людей, направленные на восстановление
  и развитие физических и духовных сил.
</div>

<div> Предметом изучения рекреационной географии, сформировавшейся в научную дисциплину в начале 70-х гг. XX в.,
  является функционирование территориальной рекреационной системы.
</div>

<div>Под территориальной рекреационной системой авторы отечественной рекреационной географии понимали социальную
  географическую систему, состоящую из следующих взаимосвязанных подсистем:
</div>

<ul>
  <li>природных и культурных комплексов,</li>

  <li>технических сооружений (инженерных сооружений),</li>

  <li>обслуживающего персонала,</li>

  <li>органа управления,</li>

  <li>отдыхающих (рекреантов).</li>
</ul>

<div> ТРС характеризовались функциональной и территориальной целостностью (рис. 2).</div>

<div>(СДЕЛАТЬ ЧТОБЫ СТРЕЛОЧКИ БЕЖАЛИ)</div>

<%= article_image_tag "image016.jpg", :class => :illustration, :alt => "Рис. 2. Схема территориальной рекреационной системы" %>
<div> Рис. 2. Схема территориальной рекреационной системы</div>

<div> (Теоретические основы рекреационной географии, 1975)</div>

<div> ПК - природные и культурные комплексы, ТС - технические системы,</div>

<div> ОП - группа обслуживающего персонала, ОУ - орган управления,</div>

<div> ГО - группа отдыхающих; 1 - внешние связи системы, 2 - связи между</div>

<div> подсистемами, 3 - команды управления, 4 - информация о состоянии</div>

<div> подсистем: I - об удовлетворенности отдыхающих, II - о степени сохранения соответствия природных комплексов
  требованиям отдыха,
</div>

<div> III - о степени сохранения полезных свойств и возможностях технических систем, IV - о состоянии обслуживающего
  персонала
</div>

<div> Подсистема «природные и культурные комплексы» представляет собой</div>

<div>ресурсы и условия удовлетворения рекреационных потребностей отдыхающих. Они характеризуются определенной емкостью,
  разнообразием, комфортностью, привлекательностью, устойчивостью и некоторыми другими специфическими качествами.
</div>

<div> Подсистема «технические системы» имеет двоякую функцию. Во-первых, она обеспечивает необходимые требования
  жизнедеятельности отдыхающих и обслуживающего персонала. Во-вторых, - удовлетворяет специфическим рекреационным
  потребностям отдыхающих. Характеризуется подсистема «технические системы» показателями емкости, комфортности,
  надежности, рядом инженерно-строительных и эксплуатационных характеристик.
</div>

<div> Подсистема «группа обслуживающего персонала» имеет одну функцию - обслуживание отдыхающих.</div>

<div> Подсистема «орган управления» контролирует отношения между подсистемами, собирает сведения о текущей емкости
  подсистем, их состоянии, наличии материальных и финансовых резервов. Обязательным условием устойчивого
  функционирования территориальной рекреационной системы является реализация планирования и регулирования во всех ее
  звеньях.
</div>

<div> Подсистема «группа отдыхающих» представляет собой центростремительный и центробежный центр территориальной
  рекреационной системы, определяет требования к работе других подсистем, которые зависимы от социальных, возрастных,
  национальных, а также индивидуальных особенностей отдыхающих.
</div>

<div> Гипотеза о территориальной рекреационной системе, выдвинутая В.С. Преображенским, оказалась крайне плодотворной и
  была воспринята всеми географами университетов и институтов Советского Союза. Повсеместно начали организовывать
  исследования в рамках рекреационной географии, выделять ТРС в своих регионах. В качестве примера приведем лишь
  несколько публикаций, дающих представления о географическом охвате рекреационными исследованиями территории РСФСР в
  70-е гг.:
</div>

<div><b> Карелия </b> - Соболь И.А. Транспортно-экологические аспекты формирования рекреационных систем Карелии,</div>

<div><b> Ленинградская обл. </b> - Хромов Ю.Б. Территориальная организация рекреационных систем в Ленинградской области,
</div>

<div><b> Коми АССР </b> - Гладкова И.Г., Гладков В.П. Моделирование рекреационных нагрузок и определение устойчивости
  биогеоценозов средней тайги,
</div>

<div><b> Подмосковье </b> - Чалая И.П. Типология рекреационных систем и планировочная организация территории (на примере
  Московской области) ,
</div>

<div><b> Северный Кавказ </b> - Хоменко Ю.А. Планировочная организация Северо-Кавказской территориальной рекреационной
  системы,
</div>

<div><b> Поволжье </b> - Любовный В.Я., Сметанич В.С. Рекреационные ресурсы Поволжья,</div>

<div><b> Урал </b> - Девяткова С.Б. Территориальные рекреационные системы, факторы их формирования и развития (на
  примере Уральского Прикамья) ,
</div>

<div><b> Сибирь </b> - Лиханов Е.Н. Формирование рекреационных систем на территории Сибири,</div>

<div><b> Алтай </b> - Малахов О.А. Территориальные рекреационные системы и вопросы охраны природной среды в Горном
  Алтае,
</div>

<div><b> Байкал </b> - Кулакова Т.Я. Экологические аспекты рекреационного освоения Прибайкалья,</div>

<div><b> Приморский край </b> - Селедец В.П. Рекреационная дигрессия травяного покрова чернопихтарников Южного Приморья,
</div>

<div><b> Сахалин </b> - Нефедов В.В. Перспективные рекреационные районы Сахалина.</div>

<div> В процессе становления рекреационной географии был разработан ряд видов научных исследований природных и
  социально-экономических компонентов, используемых в туристско-рекреационной деятельности.
</div>

<div class="questions">
  <div>Контрольные вопросы к модулю «Территориальная рекреационная система»</div>

  <div>1. Дать определение рекреационной географии, с какого времени она

    получила развитие?
  </div>

  <div>2. Что является предметом изучения рекреационной географии? Кто

    выдвинул гипотезу о территориальной рекреационной системе?
  </div>

  <div>3. Охарактеризовать понятие «территориальная рекреационная система».</div>

  <div>4. Дать характеристику подсистем территориальной рекреационной системы.</div>


</div>