<div class="literature table">
<table>
<tr>
  <td>
    1
  </td>
  <td>
    Абрамов В.В. Периодизация развития отечественного туризма. URL:
    http://www.ecologylife.ru/turiz-2002/periodizatsya-razvitiya-otechestvennogo-turizma.html (дата обращения:
    26.06.2009)

  </td>
</tr>
<tr>
  <td>
    2
  </td>
  <td>
    Абуков А.Х. Туризм сегодня и завтра. Туристско-экскурсионная работа профсоюзов. – М.: Профиздат, 1978. – 272 с.

  </td>
</tr>
<tr>
  <td>
    3
  </td>
  <td>
    Азар В.И. Экономика и организация туризма: (Методологические вопросы) – М.: Экономика, 1972. – 184 с.
  </td>
</tr>
<tr>
  <td>
    4
  </td>
  <td>
    Александрова А.Ю. Международный туризм: Учебник. – М.: Аспект Пресс, 2002. – 470 с.
  </td>
</tr>
<tr>
  <td>
    5
  </td>
  <td>
    Белорусова С.А. Характер потребительского спроса на туристские услуги в Ростовской области // Рубикон. Сб. науч.
    работ молодых ученых. Вып. 33. – Ростов н/Д, 2005. – С. 16 – 19.

  </td>
</tr>
<tr>
  <td>
    6
  </td>
  <td>
    Веденин Ю.А. Культурно-ландшафтное районирование России – ориентир культурной политики // Ориентиры культурной
    политики. – М., 1997. № 7. – С…+++.

  </td>
</tr>
<tr>
  <td>
    7
  </td>
  <td>
    География рекреационных систем СССР / Ответ. редакторы В.С. Преображенский, В.М. Кривошеев. – М.: Мысль, 1980. – 220
    с.

  </td>
</tr>
<tr>
  <td>
    8
  </td>
  <td>
    География туризма: Учебник / кол. авторов; под ред. А.Ю. Александровой. – М.: КНОРУС, 2008. – 592 с.
  </td>
</tr>
<tr>
  <td>
    9
  </td>
  <td>
    Гладкий Ю.Н., Доброскок В.А., Семенов С.П. Экономическая география России: Учебник. – М.: Гардарика, 1999. – +++…с.

  </td>
</tr>
<tr>
  <td>
    10
  </td>
  <td>
    Гужин Г.С., Беликов М.Ю., Клименко Е.В. Менеджмент в иностранном и внутреннем туризме. – Краснодар: Изд-во
    Кубанского ун-та, 2001. – 212 с.

  </td>
</tr>
<tr>
  <td>
    11
  </td>
  <td>
    Данилова Н.А. Климат и отдых в нашей стране: (Европейская часть. Кавказ).- М.: Мысль, 1980. – 156 с.
  </td>
</tr>
<tr>
  <td>
    12
  </td>
  <td>
    Дворниченко В.В. Развитие туризма в СССР (1917 – 1983 гг.) : Учебное пособие. – М.: Центр. реклам.-информ. бюро
    «Турист», 1985. – 87 с.

  </td>
</tr>
<tr>
  <td>
    13
  </td>
  <td>
    Долженко Г.П. Исторический очерк подготовки кадров для сферы туризма в высших учебных заведениях Советского Союза и
    современной России // Вестник Национальной академии туризма. 2008. № 4 (8). – С. 71 – 74.

  </td>
</tr>
<tr>
  <td>
    14
  </td>
  <td>
    Долженко Г.П. История туризма в дореволюционной России и СССР. – Ростов н/Д: Изд-во Рост. ун-та, 1988. – 192 с.

  </td>
</tr>
<tr>
  <td>
    15
  </td>
  <td>
    Долженко Г.П., Путрик Ю.С. О периодизации истории туризма России // Национальный туристский журнал «Туристские
    фирмы». Вып. 48 (16) – СПб.: «Невский фонд», 2009. – С. 64 – 68.

  </td>
</tr>
<tr>
  <td>
    16
  </td>
  <td>
    Дроздов А.В. Современный экотуризм. Концепции и практика // Теория и практика международного туризма / Сб. статей:
    Под ред. д-ра географ. наук А.Ю. Александровой. – М.: КНОРУС, 2005. – С. 245 – 260.

  </td>
</tr>
<tr>
  <td>
    17
  </td>
  <td>
    Ердавлетов С.Р. К вопросу предмета географии туризма // Туризм и региональное развитие: Материалы III Международной
    научно-практической конференции. 4 – 6 октября 2004 г. – Смоленск: Изд-во «Универсум», 2004. – С. 99 – 105.

  </td>
</tr>
<tr>
  <td>
    18
  </td>
  <td>
    Казанская Н.С. Изучение рекреационной дигрессии естественных группировок растительности // Известия АН СССР. Серия
    географическая. 1972. № 1. – С. 52 – 59.

  </td>
</tr>
<tr>
  <td>
    19
  </td>
  <td>
    Квартальнов В.А. Туризм: Учебник. - М. – Финансы и статистика, 201 – 320 с.
  </td>
</tr>
<tr>
  <td>
    20
  </td>
  <td>
    Крачило Н.П. Основы туризмоведения. – Киев: Вища школа, Головное изд-во, 1980. – 120 с.
  </td>
</tr>
<tr>
  <td>
    21
  </td>
  <td>
    Кривошеев В. Экономика туризма // Вопросы экономики. 1965. № 4. – С. 135 – 141.
  </td>
</tr>
<tr>
  <td>
    22
  </td>
  <td>
    Кружалин В.И. Научное обоснование создания единой туристско-рекреационной системы России // Туризм и рекреация:
    фундаментальные и прикладные исследования. Труды III Международной научно-практической конференции. МГУ им. М.В.
    Ломоносова, географический факультет. Москва, 24 – 25 апреля 2008 г. – М.: АНО «Диалог культур», 2008. – С. 13 – 17.

  </td>
</tr>
<tr>
  <td>
    23
  </td>
  <td>
    Ляпина В.Г. Сельский туризм: проблемы и перспективы развития (на примере Калининградской области) // География и
    туризм: Сб. науч. тр. / Перм. ун-т. – Пермь, 2005. – Вып. 1. – С. 132 – 143.

  </td>
</tr>
<tr>
  <td>
    24
  </td>
  <td>
    Мажар Л.Ю. Территориальные туристско-рекреационные системы: геосистемный подход к формированию и развитию. Автореф.
    дисс. на ???соискание учен. степ. доктора геогр. наук. Санкт-Петербург, 2009. – 31 с.

  </td>
</tr>
<tr>
  <td>
    25
  </td>
  <td>
    Мажар Л.Ю. Туристско-рекреационные территориальные системы и их роль в региональном развитии // Туризм и
    региональное развитие: Материалы III Международной научно-практической конференции. 4 – 6 октября 2004 г. –
    Смоленск: Изд-во «Универсум», 2004. – С. 151 – 157. –(120)

  </td>
</tr>
<tr>
  <td>
    26
  </td>
  <td>
    Макаров В.З., Пролеткин И.В., Чумаченко А.Н., Федоров А.В. К созданию географической информационной системы
    «Рекреация и туризм в Саратовской области». URL: http://old.sgu.ru/ogis/gis_otd/publ2.htm (дата обращения:
    22.12.2009).

  </td>
</tr>
<tr>
  <td>
    27
  </td>
  <td>
    Мироненко Н.С., Твердохлебов И.Т. Рекреационная география. – М.: Изд-во Моск. ун-та, 1981. – 207 с.
  </td>
</tr>
<tr>
  <td>
    28
  </td>
  <td>
    Наука на помощь туризму // На суше и на море. 1931. № 3. – С. 5. –(15)
  </td>
</tr>
<tr>
  <td>
    29
  </td>
  <td>
    Николаенко Д.В. Рекреационная география: Учеб. пособие для студ. высш. учеб. заведений. – М.: Гуманит. изд. центр
    ВЛАДОС, 2003. – 288 с.

  </td>
</tr>
<tr>
  <td>
    30
  </td>
  <td>
    Основы геоинформатики. Учебное пособие для студ. вузов / Е.Г. Капралов, А.В. Кошкарев, В.С. Тикунов и др.; под ред.
    В.С. Тикунова. – М.: Академия. 2004. – 480 с.

  </td>
</tr>
<tr>
  <td>
    31
  </td>
  <td>
    Павловский район. Информация о районе. URL: http://pavlovskaya.org/ (дата обращения: 23.05.2009).
  </td>
</tr>
<tr>
  <td>
    32
  </td>
  <td>
    Полянский А.Г. Природно-рекреационное районирование пригородной зоны большого города (на примере Нижнего Новгорода).
    Автореф. дисс. на соиск. учен. степ. канд. геогр. наук. – Калуга, 2007. – 22 с.

  </td>
</tr>
<tr>
  <td>
    33
  </td>
  <td>
    Преображенский В.С., Зорин И.В., Веденин Ю.А. Географические аспекты конструирования новых типов рекреационных
    систем // Известия АН СССР. Серия географическая. 1972. № 1. – С. 36 – 51.

  </td>
</tr>
<tr>
  <td>
    34
  </td>
  <td>
    Путрик Ю.С. Картографическое обеспечение как инструмент государственной политики в области туризма // Известия
    вузов. Северо-Кавказский регион. Общественные науки. 2006. № 4. – С. 135 – 138.

  </td>
</tr>
<tr>
  <td>
    35
  </td>
  <td>
    Путрик Ю.С., Свешников В.В. Туризм глазами географа. – М.: Мысль, 1986. – 160 с.
  </td>
</tr>
<tr>
  <td>
    36
  </td>
  <td>
    Рекреационные ресурсы. Часть 2. Условия и ресурсы отдыха и туризма. – Ростов н/Д: Изд-во Рост. ун-та, 1982. – 272 с.

  </td>
</tr>
<tr>
  <td>
    37
  </td>
  <td>
    Сергеев В.Н. Туризм и здоровье. – М.: Профиздат, 1987. – 80 с.
  </td>
</tr>
<tr>
  <td>
    38
  </td>
  <td>
    Теоретические основы рекреационной географии. – М.: Наука, 1975. – 224 с.
  </td>
</tr>
<tr>
  <td>
    39
  </td>
  <td>
    Усыскин Г.С. Очерки истории российского туризма. - СПб., 2007
  </td>
</tr>
<tr>
  <td>
    40
  </td>
  <td>
    Шальнев В.А., Савельева В.В. Рекреационные ресурсы // Рекреационные ресурсы. Часть 2. Условия и ресурсы отдыха и
    туризма. – Ростов н/Д: Изд-во Рост. ун-та, 1982. – С. 7 – 17.

  </td>
</tr>
<tr>
  <td>
    41
  </td>
  <td>
    Шмыткова А.В. Географические и мотивационные аспекты туризма в Ростове-на-Дону // Рубикон. Сборник научных работ
    молодых ученых. Вып. 48. Право и экономика. – Ростов н/Д, 2008. – С. 59 – 63.

  </td>
</tr>
</table>

</div>